

<div class="modal fade animated fadeInRight" id="sign-up" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
        Create an account with us for a better experience.
      </div>
      <div class="modal-body">

        <%= form_for resource, as: resource_name, url: registration_path(resource_name), :html => { :class => 'form-horizontal sign-up-form'} do |f| %>

        <div class="form-group">
          <%= f.label 'Name', class: 'col-sm-3 control-label' %>
          <div class="col-sm-8">
            <%= f.text_field :name, class: "form-control name" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :mobile, class: 'col-sm-3 control-label' %>
          <div class="col-sm-8">
            <%= f.text_field :mobile, class: "form-control mobile" %>
          </div>
        </div>
		
        <div class="form-group">
          <%= f.label :email, class: 'col-sm-3 control-label' %>
          <div class="col-sm-8">
            <%= f.email_field :email, class: "form-control mobile" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :college, class: 'col-sm-3 control-label' %>
          <div class="col-sm-8">
            <%= f.select :college_id, College.order(name: :asc).select(:name, :id).collect { |college| [college.name, college.id]}, { include_blank: true }, { class: "form-control college" } %>
          </div>
        </div>

         <div class="form-group">
          <%= f.label :password, class: 'col-sm-3 control-label' %>
          <div class="col-sm-8">
            <%= f.password_field :password, class: "form-control password" %>
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <div class="col-sm-5 pull">
          <%= render "devise/shared/links" %>          
        </div>
        <div class="form-group">
          <!-- <%= f.button 'Cancel', class: 'btn btn-default cancel', data: {dismiss: 'modal'} %> -->
          <%= link_to "Cancel", classifieds_path, class: 'btn btn-default cancel' %>
          <%= f.button :submit, class: 'btn btn-primary submit' %>
        </div>
      </div>
      <% end %>

    </div>
  </div>
</div>

<!-- <%= render "devise/shared/links" %> -->

<script type="text/javascript">
  $(document).ready(function() {

    // $("#sign-up").modal();

    $("body").on('click', "div#sign-up .submit", function(e) {
      $("form.sign-up-form").submit();
    });

    
    $(".modal").removeClass("modal").removeClass("fade").attr("aria-hidden", false);

    $("body").on("click", "form#new_user button.submit", function(e) {

      var flag = true;
      $.each($("form#new_user .form-control.required"), function(i,el) {
        if ($(el).val().trim() == "" ) { 
          flag = false;
          $(el).parent().parent().parent().addClass("has-error");
        }
      });

    });

  });
</script>

<style>
div#sign-up:focus {
  outline: none !important;
}

div#sign-up {
  margin-top: -30px;
  margin-left: -50px;
}

body {
  height: 100%;
  overflow: hidden;
}
</style