<div class="col-md-8 box classified-form">
	<%= form_for @user, html: { class: 'form-horizontal' } do |f| %>
		<div class="form-group">
		  	<%= f.label :name, class: 'col-md-2 control-label' %>
	   	 	<div class="col-md-10">
				<%= f.text_field :name, class: 'form-control' %>
	   	  	</div>
	  	</div>
	
		<div class="form-group">
		  	<%= f.label :email, class: 'col-md-2 control-label' %>
	   	 	<div class="col-md-10">
				<%= f.text_field :email, class: 'form-control' %>
	   	  	</div>
	  	</div>
	
		<div class="form-group">
		  	<%= f.label :mobile, class: 'col-md-2 control-label' %>
	   	 	<div class="col-md-10">
				<%= f.text_field :mobile, class: 'form-control' %>
	   	  	</div>
	  	</div>
	
		<div class="form-group">
			<%= f.label :college, class: 'col-md-2 control-label' %>
			<div class="col-md-10">
	            <%= f.select :college_id, College.order(name: :asc).select(:id, :name).collect { |college| [college.name, college.id] }, {}, { class: 'inverse-dropdown-select' } %>
	        </div>
		</div>
		
	    <div class="form-group">
	       <div class="col-md-offset-2 col-md-10">
			      <%= f.submit "Save", class: 'btn btn-primary' %>
			      <%= link_to "Cancel", :back, class: 'btn btn-default' %>	  
	       </div>
	     </div>
	<% end %>
</div>