<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to App.logo, root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form ?navbar-left col-md-8" role="search" style="width: 50%">
        <div class="form-group" style="width: 80%">
          <input type="text" class="form-control" id="search-navbar" placeholder="Search for books, projects, etc." autocomplete="off" style="width: 100%">
        </div>
        <button type="submit" class="btn btn-info search submit">Search</button>
      </form>

      <ul class="nav navbar-nav">
        <%= link_to( "Post Ad", new_classified_path, { class: "btn btn-success" } )%>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hello, <%= current_user.name && current_user.name.split.first %> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to("Sign Out", destroy_user_session_path, :method => :delete)  %></li>
            </ul>
          </li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-sign-in fa-6"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to "Sign In", new_user_session_path %></li>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>