

<div class="row wrapper">

  <div class="row col-sm-12 ?animated ?fadeInRight" style="margin-left: 10px; margin-right: 10px;">


    <div class="col-sm-4 search-result animated fadeInRight hidden" >
      <div class="ibox float-e-margins">
        <div class="ibox-title title">
          <h5>VLSI Design</h5>
        </div>
        <div class="auto result-item">
          <div class="ibox-content ?no-padding border-left-right">
            <%= image_tag("book1.jpg", class: "img-responsive classified-image") %>
          </div>
        </div>
      </div>
    </div>


    <div class="col-sm-8 col-sm-offset-2 item-info animated ?fadeInRight ?hidden">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Item Information</h5>
        </div>
        <div class="ibox-content">
          <div class="item-form">
            <div class="?ibox float-e-margins">
              <div class="?ibox-content">
                <!-- <form method="get" class="form-horizontal listing-form"> -->
                <%= form_for @classified, class: 'form-horizontal listing-form' do |f| %>

                  <%= f.fields_for :book do |book| %>

                    <div class="form-group">
                      <%= book.label :title, class: 'col-sm-2 control-label' %>
                      <div class="col-sm-10">
                        <%= book.text_field :title, class: 'form-control title', id: 'search-title' %>
                      </div>
                    </div>


                    <div class="form-group hidden">
                      <%= book.label :publisher, class: 'col-sm-2 control-label' %>
                      <div class="col-sm-10">
                        <%= book.text_field :publisher, class: 'form-control publisher' %>
                      </div>
                    </div>


                    <div class="form-group hidden">
                      <%= book.label :author, class: 'col-sm-2 control-label' %>
                      <div class="col-sm-10">
                        <%= book.text_field :author, class: 'form-control author' %>
                      </div>
                    </div>

                    <div class="form-group hidden">
                      <%= book.label :isbn, class: 'col-sm-2 control-label' %>
                      <div class="col-sm-10">
                        <%= book.text_field :isbn, class: 'form-control isbn' %>
                      </div>
                    </div>


                    <div class="form-group hidden">
                      <%= book.label :retail_price, class: 'col-sm-2 control-label' %>
                      <div class="col-sm-10">
                        <%= book.text_field :retail_price, class: 'form-control retail-price' %>
                      </div>
                    </div>

                  <% end %> 


                  <div class="form-group hidden">
                    <%= f.label  :condition, class: 'col-sm-2 control-label' %>
                    <div class="col-sm-10"> 
                      <%= f.select :condition, [['Like new', 'Like new'], ['Fair', 'Fair'], ['Heavily used', 'Heavily used']] %>
                    </div>
                  </div>

                  <div class="form-group hidden">
                    <%= f.label  :price, class: 'col-sm-2 control-label' %>
                    <div class="col-sm-10"> 
                      <%= f.text_field :expected_price, value: @classified.suggested_price %><br/>
                    </div>
                  </div>

<% end %>

                  <div class="hr-line-dashed"></div>

                  <div class="form-group hidden">
                    <label class="col-sm-2 control-label">Pattern</label>
                    <div class="col-sm-10">
                      <select class="form-control m-b" name="account">
                        <option>2004</option>
                        <option>2008</option>
                        <option>2012</option>
                      </select>
                    </div>
                  </div>


<!--                   <div class="form-group hidden">
                    <label class="col-sm-2 control-label">Condition</label>
                    <div class="col-sm-10">
                      <div id="basic_slider" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                        <div class="noUi-base">
                          <div class="noUi-origin noUi-connect" style="left: 49.7076023%;">
                            <div class="noUi-handle noUi-handle-lower"></div>
                          </div>
                        </div>
                      </div>
                      <div style="padding: 5px;"> <span>Heavily Used</span><span style="margin-left: 35%">Fair</span><span style="float: right">Like New</span>
                      </div>
                    </div>
                  </div> -->


                  <div class="form-group hidden">
                    <label class="col-sm-2 control-label">Upload Pictures</label>
                    <div class="col-sm-10">
                      <div id="my-awesome-dropzone" class="dropzone dz-clickable" action="/file-upload">
                        <div class="dropzone-previews"></div>
                        <div class="dz-default dz-message"><span>Drop files here to upload</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group hidden">
                    <label class="col-sm-2 control-label">Comments</label>
                    <div class="col-sm-10">
                      <textarea class="form-control sell-form-comments"></textarea>
                    </div>
                  </div>

                  <div class="form-group hidden">
                    <div class="col-sm-10 col-sm-offset-2">
                      <button class="btn btn-primary pull" type="submit">Save changes</button>
                      <button class="btn btn-white push" type="submit">Cancel</button>
                    </div>
                  </div>
                  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- </body> -->
<script type="text/javascript">
</script>
<style type="text/css">

  .bordered {
    border: 1px solid gray;
  }

  #page-wrapper {
    margin: 0px;
    padding: 0px;
  }

  .navbar-inverse {
    background-color: #2a3947;
    border-color: #2a3947;
  }

  #navbar-collapse-01 > ul.nav.navbar-nav.navbar-left > li > a {
    color: white;
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 18px;
  }

  #navbar-collapse-01 > ul.nav.navbar-nav.navbar-right > li > a {
    color: white;
  }

  .wrapper {
    padding: 0px;
  }

  .banner-top {
    margin-top: -40px !important;
    min-height: 400px;
    background-color: #29aae1;
  }
  
  .row.search {
    margin-top: 80px;
  }
  
  .search button {
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
  
  .navbar {
    border-radius: 0px !important;
  }
  
  .navbar .divider-vertical {
    height: 20px;
    margin-top: 15px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
  }
  
  .navbar-inverse .divider-vertical {
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
  }
  
  @media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
      display: none;
    }
  }

  .noUi-background {
    background: #3FB8AF;
    box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
  }

  .noUi-connect {
    background: #FAFAFA;
    box-shadow: inset 0 1px 1px #f0f0f0;
    -webkit-transition: background 450ms;
    transition: background 450ms;
  }

  /* to make dropzone fit in the new form */
  
  .dropzone {
    min-height: 200px !important;
    height: 200px !important;
  }

  .dropzone .dz-default.dz-message {
    background-size: 80%;
    width: 228px;
    height: 53px;
    margin-left: -214px;
    margin-top: -61.5px;
    top: 65%;
    left: 60%;
  }

  .sell-form-comments {
    min-height: 120px;
  }

.classified-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>


<script type="text/javascript">
  $(document).ready(function () {

    var books_data  = [
                        {
                          value: "jquery",
                          label: "jQuery",
                          desc: "the write less, do more, JavaScript library",
                          icon: "jquery_32x32.png",
                          img_src: "http://dummyimage.com/60X60"
                        }, {
                          value: "jquery-ui",
                          label: "jQuery UI",
                          desc: "the official user interface library for jQuery",
                          icon: "jqueryui_32x32.png",
                          img_src: "http://dummyimage.com/60X60"
                        }, {
                          value: "sizzlejs",
                          label: "Sizzle JS",
                          desc: "a pure-JavaScript CSS selector engine",
                          icon: "sizzlejs_32x32.png",
                          img_src: "http://dummyimage.com/60X60"
                        },
                        {
                          value: "jquery-ui",
                          label: "jQuery UI",
                          desc: "the official user interface library for jQuery",
                          icon: "jqueryui_32x32.png",
                          img_src: "http://dummyimage.com/60X60"
                        }
                     ];


    // $("#search-box").autocomplete({

    //   source: books_data,
    //   search: function(event, ui) {
    //     $("div.search-result").slideUp();
    //     $("div.item-info").slideUp();
    //   }, 
    //   focus: function (event, ui) {
    //     $("#search-box").val(ui.item.label);
    //     return false;
    //   },
    //   select: function (event, ui) {
    //     console.log("selected");
    //     $("div.search-result").slideDown();
    //     $("#search-box").val("");
    //     return false;
    //   }
    // })
    // .data("ui-autocomplete")._renderItem = function (ul, item) {
    //   return $("<li>")
    //                   .append("<a> <img src=" + item.img_src + "></img>" + item.label + item.desc + "</a>")
    //                   .appendTo(ul);
    // };


    $("button.clear").on('click', function(e) {
      e.preventDefault();
      console.log("clicked")
      console.log($("div.result-item"));
      $("div.search-result").slideUp();
      $("div.item-info").slideUp();
      return false;
    });

    $("button.select").on('click', function(e) {
      e.preventDefault();
      console.log("clicked");
        $("div.item-info").slideDown();


      var $item       = $(".auto.result-item > .ibox-content");
      var title       = $item.find("h4").text();
      var edition     = $item.find(".edition .val").text();
      var publisher   = $item.find(".publisher .val").text();
      var isbn10      = $item.find(".isbn10 .val").text();
      var isbn13      = $item.find(".isbn13 .val").text();
      
      console.log(title)
      console.log(edition)
      console.log(publisher)
      console.log(isbn10)
      console.log(isbn13)


      var $form = $("form.listing-form");
      console.log($form)
      console.log($form.find("input.title"));
      $form.find("input.title").val(title);
      $form.find("input.edition").val(edition);
      $form.find("input.publisher").val(publisher);
      $form.find("input.isbn10").val(isbn10);
      $form.find("input.isbn13").val(isbn13);

    });


  });
</script>

<script type="text/javascript">
$(document).ready(function () {

  $("#search-title").autocomplete({
    source: get_airports,
    minLength: 3,
    select: function (event, ui) {
              event.preventDefault();
              console.log(ui.item.book);
              $(".form-group.hidden").removeClass('hidden');
              // return false;
              console.log("inhereerererererre")
              // var $item       = $(".auto.result-item > .ibox-content");
              // var title       = $item.find("h4").text();
              // var edition     = $item.find(".edition .val").text();
              // var publisher   = $item.find(".publisher .val").text();
              // var isbn10      = $item.find(".isbn10 .val").text();
              // var isbn13      = $item.find(".isbn13 .val").text();
              var book  = ui.item.book;
              var $form = $("form.listing-form");

              $form.find("input.title").val(book.title);
              $form.find("input.edition").val(book.edition);
              $form.find("input.publisher").val(book.publisher);
              $form.find("input.isbn10").val(book.isbn);

              $(".form-group.hidden", $form).removeClass('hidden');
              $(".item-info").addClass("fadeOutRight")
                             .addClass("hidden")
                             .removeClass("fadeOutRight")
                             .removeClass("col-sm-offset-2")
                             .addClass("fadeInLeft")
                             .removeClass("hidden");

              $(".search-result").removeClass("hidden");
              var sel = "#page-wrapper > div > div > div.col-sm-4.search-result.animated.fadeInRight > div > div.ibox-title.title > h5";
              $(sel).text(book.title);


              var img = "#page-wrapper > div > div > div.col-sm-4.search-result.animated.fadeInRight > div > div.auto.result-item > div > img";
              // $(img).src = "<%= @classified.images.first %>";
              var img_src = "<%= @classified.images.first %>";
              console.log(img_src + "sssssssssssssssssss");
              // return false;
            }
  })
  .keydown(function(e){
    if (e.keyCode === 13) {
      e.preventDefault();
      $("form.listing-form .form-group.hidden").removeClass('hidden');
      $("form.listing-form .form-group input").attr("disabled", false);
      return false;
    }
  })
  .data("ui-autocomplete")._renderItem = function (ul, item) {
    return $("<li>")
                    .append("<a> <img src=" + item.image_url + "></img>" + item.book.title + item.book.description + "</a>")
                    .appendTo(ul);
  };

  function get_airports(request, response) {
    console.log(request.term)
    var params = {
      keywords: request.term
    };
    $.get("/queries/json_completion", params, function (data) {
      console.log(data)
      response(data);
    }, "json");
  }



});

</script>