<%= div_for classified, class: "box" do %>
	<div class="pull-right"></div>
	<div class="title"><%= link_to classified.title, classified_path(classified) %></div>
	<div class="price pull-right"><%= render_price classified.price %></div>
	<div class="mobile"><a href="tel:<%= render_mobile_number classified.user.mobile %>"><%= i('phone') %> <%= render_mobile_number classified.user.mobile %></a></div>
	<div class="date pull-right" style="color: lightgrey; margin-top: -5px"><em><%= render_date classified.created_at %></em></div>		
	
	<div style="margin-top:-5px">
		
		<span class="type"><%= classified.sell? ? 'For sale' : 'Needed' %></span>
	</div>
<% end %>