<div class="row col-sm-10 contact-box result">

  <div class="col-sm-8 row classified-info">
    <h4 class="title"><%= link_to classified.title %></h4><br><br>
    <span class="s-loc"><%= classified.college.abbr %>, <%= classified.college.city %></span>&nbsp;&nbsp;<strong>&middot;</strong>&nbsp;
      <span class="s-name"><%= classified.user.name %></span>&nbsp;&nbsp;<strong>&middot;</strong>&nbsp;
      <span class="s-phone"> <i class="fa fa-phone"></i>&nbsp;<%= classified.user.mobile %></span>
    <div class="col-sm-12 desc">
      <!-- <div class="truncated"><em><%= classified.description.truncate(70) %></em></div> -->
	  <% if classified.description.present? %>
        <div class="full hidden animated"><%= classified.description %></div>
	  <% else %>
	  	<div class="full hidden animated"><em>No description.</em></div>
	  <% end %>
    </div>
  </div>

 

  <div class="col-sm-2 pull-right date-price">
          <span class="date-posted"><em><%= render_date classified.created_at %></em></span><br>

    <h3 class="expected-price"><strong><%= classified.price == '0' ? "Free" : "Rs #{classified.price}" %></strong></h3><br>

  </div>
</div>

<div class="col-sm-2 options" style="padding-left: 20px;" >
  <!-- <div><a href="/classifieds/<%= classified.id %>/share" class="btn btn-success share hidden">Share</a></div> -->
  <% if current_user && current_user.id == classified.user.id %>
  <div><%= link_to("Edit", edit_classified_path(classified), { class: "btn btn-default edit hidden"} ) %></div>
  <% end %>
</div>


<style type="text/css">
  .share {
    margin-bottom: 10px;
  }

  .share, .edit {
    width: 80px;
  }

  div.options {
    padding-top: 3px;
  }

  .title a {
    font-size: 17px;
  }

  h3.expected-price {
    font-size: 25px;
    color: black !important!;
  }
</style>
