<div class="row col-sm-10 contact-box result">

  <div class="col-sm-6 row classified-info">
    <h4 class="title"><a href><%= classified.title %></a></h4>
    <div class="col-sm-12 desc">
      <div class="truncated"><em><%= classified.description.truncate(70) %></em></div>
      <div class="full hidden animated"><em><%= classified.description %></em></div>
    </div>
  </div>

  <div class="col-sm-4 col-sm-offet-8 s-info">
      <span class="s-name"><%= classified.user.name %></span> <br/>
      <span class="s-phone"> <i class="fa fa-phone"></i>&nbsp; <%= classified.user.mobile %> </span><br/>
      <span class="s-loc"> <i class="fa fa-map-marker"></i>&nbsp;&nbsp;&nbsp;<%= classified.college.abbr %>, <%= classified.college.city %></span><br />
      <div class="s-email hidden"> <i class="fa fa-envelope"></i>&nbsp; <%= classified.user.email || '-' %></div><br />
  </div>

  <div class="col-sm-2 ?pull-right date-price">
    <span class="date-posted"><em><%= render_date classified.created_at %></em></span><br/>
    <h3 class="expected-price"><strong>Rs <%= classified.price %></strong></h3>
  </div>
</div>

<div class="col-sm-2 options" style="padding-left: 20px;" >
  <div><a href="/classifieds/<%= classified.id %>/share" class="btn btn-success share hidden">Share</a></div>
  <% if current_user && current_user.id == classified.user.id %>
  <div><%= link_to("Edit", edit_classified_path(classified), { class: "btn btn-default edit hidden"} ) %></div>
  <% end %>
</div>


<style type="text/css">
  .share {
    margin-bottom: 10px;
  }

  .share, .edit {
    width: 80px;
  }

  div.options {
    padding-top: 3px;
  }
</style>
