<%= div_for classified, class: "item" do %>
	<%#= image_tag classified.image_url(:thumb) %>
	<div class="description">
		<div class="title"><%= classified.title %></div>
		<div class="price">Rs <%= classified.price %></div>
		<div><%= classified.college.abbr %>, <%= classified.college.city %></div>
	</div>
<% end %>