<div class="modal main fade animated fadeInRight" id="sign-up" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button> -->
        <h3 class="modal-title" id="myModalLabel">Edit Your Ad</h3>
        Update any information you'd like to about the ad.
      </div>
      <div class="modal-body">
                <%= form_for @classified, html: {class: 'form-horizontal listing-form'} do |f| %>

                  <div class="form-group title">
                    <%= f.label :title, class: 'col-sm-2 control-label' %>
                    <div class="col-sm-9">
                      <%= f.text_field :title, class: 'form-control required title', id: 'search-title' %>
                    </div>
                  </div> 

                  <div class="form-group">
                    <%= f.label :category, class: 'col-sm-2 control-label' %>
                    <div class="col-sm-9"> 
                     <%= f.select :category_id, Category.order(name: :asc).select(:name, :id).collect { |category| [category.name, category.id] }, { include_blank: true }, { class: "form-control required category" } %>
                    </div>
                  </div>

                  <div class="form-group comment">
                    <%= f.label 'Description', class: 'col-sm-2 control-label' %>
                    <div class="col-sm-9">
                      <%= f.text_area :description, class: 'form-control required comment' %>
                    </div>
                  </div>

                  <div class="form-group selling-price">
                    <%= f.label :price, 'Price (Rs)', class: 'col-sm-2 control-label' %>
                    <div class="col-sm-9"> 
                      <%= f.text_field :price, class: 'form-control required selling-price numeric' %>
                    </div>
                  </div>

                  <div class="form-group buttons">
                    <div class="col-sm-9 col-sm-offset-2">
                      <%= link_to  "Cancel", classifieds_path, class: "btn btn-default cancel" %>
                      <%= f.submit "Update", class: "btn btn-primary submit" %>
                      <%= link_to  "Delete", @classified, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger delete pull-right" %>          
                    </div>
                  </div>
                <% end %>
      </div>
    </div>
  </div>
</div>

<style>
div#sign-up:focus {
  outline: none !important;
}

div#sign-up {
  margin-top: -30px;
  margin-left: -50px;
}

body {
  height: 100%;
  overflow: hidden;
}

div.form-group.buttons .delete {
  /*margin-top: -34px;*/
}
</style>

<script type="text/javascript">
$(document).ready(function() {

  $(".form-control").attr("autocomplete", "off");

  $("body").on("focus", ".form-control", function(e) {
    $(this).parent().parent().removeClass("has-error");
  });

  $(".form-control.numeric").keydown(function (e) {
      // Allow: backspace, delete, tab, escape, enter and .
      if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
           // Allow: Ctrl+A
          (e.keyCode == 65 && e.ctrlKey === true) || 
           // Allow: home, end, left, right
          (e.keyCode >= 35 && e.keyCode <= 39)) {
               // let it happen, don't do anything
               return;
      }
      // Ensure that it is a number and stop the keypress
      if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
          e.preventDefault();
      }
  });


  $(".modal.main").removeClass("modal").removeClass("fade").attr("aria-hidden", false);

  $("body").on("click", ".listing-form input.submit", function(e) {
    // e.preventDefault();
    var flag = true;
    $.each($(".listing-form .form-control.required"), function(i,el) {
      if ($(el).val().trim() == "" ) { 
        flag = false;
        $(el).parent().parent().addClass("has-error");
      }
    });

    if (flag) { 
      $("form.listing-form").submit();
    } else {
      return false;
    }
  });

});
</script>