

<div class="row wrapper">

  <div class="row col-sm-12 ?animated ?fadeInRight" style="margin-left: 10px; margin-right: 10px;">


    <div class="col-sm-4 search-result animated fadeInRight hidden" >
      <div class="ibox float-e-margins">
        <div class="ibox-title title">
          <h5>VLSI Design</h5>
        </div>
        <div class="auto result-item">
          <div class="ibox-content ?no-padding border-left-right">
            <%= image_tag("book1.jpg", class: "img-responsive classified-image") %>
          </div>
        </div>
      </div>
    </div>


    <div class="col-sm-8 col-sm-offset-2 item-info animated ?fadeInRight ?hidden">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Item Information</h5>
        </div>
        <div class="ibox-content">
          <div class="item-form">
            <div class="?ibox float-e-margins">
              <div class="?ibox-content">
                <!-- <form method="get" class="form-horizontal listing-form"> -->
                <%= form_for @classified, html: {class: 'form-horizontal listing-form'} do |f| %>

                  <%= f.fields_for :book do |book| %>

<!--                     <div class="form-group">
                      <%= book.label :title, class: 'col-sm-2 control-label' %>
                      <div class="col-sm-10">
                        <%= book.text_field :title, class: 'form-control title', id: 'search-title' %>
                      </div>
                    </div> -->

                    <div class="form-group title">
                      <%= book.label :title, class: 'col-sm-2 control-label' %>
                      <div class="col-sm-10">
                      <div class="input-group"><input type="text" class="form-control title", id="search-title">
                          <div class="input-group-btn">
                            <button tabindex="-1" class="btn btn-default clear" type="button">Clear</button>
                          </div>
                        </div> 
                      </div>
                    </div>

                    <div class="form-group hidden">
                      <%= book.label :publisher, class: 'col-sm-2 control-label' %>
                      <div class="col-sm-10">
                        <%= book.text_field :publisher, class: 'form-control publisher' %>
                      </div>
                    </div>


                    <div class="form-group hidden">
                      <%= book.label :author, class: 'col-sm-2 control-label' %>
                      <div class="col-sm-10">
                        <%= book.text_field :author, class: 'form-control author' %>
                      </div>
                    </div>

                    <div class="form-group hidden">
                      <%= book.label :isbn, class: 'col-sm-2 control-label' %>
                      <div class="col-sm-10">
                        <%= book.text_field :isbn, class: 'form-control isbn' %>
                      </div>
                    </div>


                    <div class="form-group hidden">
                      <%= book.label :retail_price, class: 'col-sm-2 control-label' %>
                      <div class="col-sm-10">
                        <%= book.text_field :retail_price, class: 'form-control retail-price' %>
                      </div>
                    </div>

                  <% end %> 


                  <div class="form-group hidden">
                    <%= f.label  :condition, class: 'col-sm-2 control-label' %>
                    <div class="col-sm-10"> 
                      <%= f.select :condition, [['Like new', 'Like new'], ['Fair', 'Fair'], ['Heavily used', 'Heavily used']] %>
                    </div>
                  </div>

                  <div class="form-group hidden">
                    <%= f.label  :price, class: 'col-sm-2 control-label' %>
                    <div class="col-sm-10"> 
                      <%= f.text_field :expected_price, value: @classified.suggested_price, class: 'form-control selling-price' %>
                    </div>
                  </div>



                  <div class="form-group hidden">
                    <label class="col-sm-2 control-label">Pattern</label>
                    <div class="col-sm-10">
                      <select class="form-control m-b" name="account">
                        <option>2004</option>
                        <option>2008</option>
                        <option>2012</option>
                      </select>
                    </div>
                  </div>


                  <div class="form-group hidden">
                    <label class="col-sm-2 control-label">Upload Pictures</label>
                    <div class="col-sm-10">
                      <div id="my-awesome-dropzone" class="dropzone dz-clickable" action="/file-upload">
                        <div class="dropzone-previews"></div>
                        <div class="dz-default dz-message"><span>Drop files here to upload</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group hidden">
                    <%= f.label 'Images', class: 'col-sm-2 control-label' %>
                    <div class="col-sm-10"> 
                      <%= f.fields_for :images do |image| %>
                        <%= image.file_field :file, multiple: true, name: 'images[file][]' %><br/>
                      <% end %>
                    </div>
                  </div>


                  <div class="form-group hidden">
                    <!-- <label class="col-sm-2 control-label">Description</label> -->
                    <%= f.label 'Description', class: 'col-sm-2 control-label' %>
                    <div class="col-sm-10">
                      <!-- <textarea class="form-control sell-form-description"></textarea> -->
                      <%= f.text_area :comment, class: 'form-control comment' %>
                    </div>
                  </div>

                  <div class="form-group hidden">
                    <div class="col-sm-10 col-sm-offset-2">
                      <button class="btn btn-primary pull submit" id="sbmit" type="submit" data-toggle="modal" data-target="#user-modal">Submit</button>
                      <button class="btn btn-white push cancel" type="submit">Cancel</button>
                    </div>
                  </div>


                  <div class="hr-line-dashed"></div>
                  
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- end user form -->


<!-- </body> -->


<!-- nested and hidden user form -->
<div class="modal fade" id="user-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<!--   <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">User Details</h4>
        You are not currently signed in. Please fill in the details about yourself.
      </div>
      <div class="modal-body">

        <%= form_for :user, :html => {:class => 'form-horizontal listing-form' }, method: :post do |user| %>

          <div class="form-group">
            <%= user.label :first_name, class: 'col-sm-3 control-label' %>
            <div class="col-sm-8">
              <%= user.text_field :first_name, class: 'form-control publisher', value: current_user.try(:name) %>
            </div>
          </div>
          
          <div class="form-group">
            <%= user.label :last_name, class: 'col-sm-3 control-label' %>
            <div class="col-sm-8">
              <%= user.text_field :last_name, class: 'form-control publisher', value: current_user.try(:name) %>
            </div>
          </div>

          <div class="form-group">
            <%= user.label :mobile_number, class: 'col-sm-3 control-label' %>
            <div class="col-sm-8">
              <%= user.text_field :mobile_number, class: "form-control publisher", value: current_user.try(:phone) %>
            </div>
          </div>
          
          <div class="form-group">
            <%= user.label :email, class: 'col-sm-3 control-label' %>
            <div class="col-sm-8">
              <%= user.text_field :email, class: "form-control publisher", value: current_user.try(:email) %>
            </div>
          </div>
          
          <div class="form-group">
            <%= user.label :college, class: 'col-sm-3 control-label' %>
            <div class="col-sm-8">
              <%= user.select :college_id, College.all.collect { |college| [college.name, college.id]}, class: 'form-control college' %>
            </div>
          </div>

          <div class="modal-footer">
              <%= button_tag 'Cancel', class: 'btn btn-default', data: {dismiss: 'modal'} %>
              <%= user.button 'Submit', class: 'btn btn-primary' %>
          </div>

        <% end %>
      </div>
    </div>
  </div> -->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">User Details</h4>
        Please either log in or fill in the details below so that we can potential buyers can know how to contact you.
      </div>

      <div class="modal-body">
        <form method="get" class="form-horizontal listing-form">

          <div class="form-group">
            <label class="col-sm-3 control-label">Full Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control name">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Mobile</label>
            <div class="col-sm-8">
              <input type="text" class="form-control mobile">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">College</label>
            <div class="col-sm-8">
              <input type="text" class="form-control college">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>

</div>
<style type="text/css">
  .bordered {
    border: 1px solid red;
  }
</style>

<script type="text/javascript">
  $(document).ready(function () {


    console.log("printing user");
    var current_user = <%= current_user %>
    console.log(current_user);


    $("#sbmit").on('click', function(e) {
      e.preventDefault();
      $("#user-modal").modal();
      return false;
    });


    var books_data  = [
                        {
                          value: "jquery",
                          label: "jQuery",
                          desc: "the write less, do more, JavaScript library",
                          icon: "jquery_32x32.png",
                          img_src: "http://dummyimage.com/60X60"
                        }, {
                          value: "jquery-ui",
                          label: "jQuery UI",
                          desc: "the official user interface library for jQuery",
                          icon: "jqueryui_32x32.png",
                          img_src: "http://dummyimage.com/60X60"
                        }, {
                          value: "sizzlejs",
                          label: "Sizzle JS",
                          desc: "a pure-JavaScript CSS selector engine",
                          icon: "sizzlejs_32x32.png",
                          img_src: "http://dummyimage.com/60X60"
                        },
                        {
                          value: "jquery-ui",
                          label: "jQuery UI",
                          desc: "the official user interface library for jQuery",
                          icon: "jqueryui_32x32.png",
                          img_src: "http://dummyimage.com/60X60"
                        }
                     ];


    $("button.clear").on('click', function(e) {
      e.preventDefault();
      $("#search-title").val("");
      $(".listing-form .form-group").addClass("hidden");
      $(".listing-form .form-group.title").removeClass("hidden");

    });

    $("button.select").on('click', function(e) {
      e.preventDefault();
      console.log("clicked");
        $("div.item-info").slideDown();


      var $item       = $(".auto.result-item > .ibox-content");
      var title       = $item.find("h4").text();
      var edition     = $item.find(".edition .val").text();
      var publisher   = $item.find(".publisher .val").text();
      var isbn10      = $item.find(".isbn10 .val").text();
      var isbn13      = $item.find(".isbn13 .val").text();
      
      console.log(title)
      console.log(edition)
      console.log(publisher)
      console.log(isbn10)
      console.log(isbn13)


      var $form = $("form.listing-form");
      console.log($form)
      console.log($form.find("input.title"));
      $form.find("input.title").val(title);
      $form.find("input.edition").val(edition);
      $form.find("input.publisher").val(publisher);
      $form.find("input.isbn10").val(isbn10);
      $form.find("input.isbn13").val(isbn13);

    });


  });
</script>

<script type="text/javascript">
$(document).ready(function () {

  $("#search-title").autocomplete({
    source: get_airports,
    minLength: 3,
    select: function (event, ui) {
              event.preventDefault();
              console.log(ui.item.book);
              $(".form-group.hidden").removeClass('hidden');
              var book  = ui.item.book;
              var $form = $("form.listing-form");

              $form.find("input.title").val(book.title);
              $form.find("input.edition").val(book.edition);
              $form.find("input.publisher").val(book.publisher);
              $form.find("input.isbn10").val(book.isbn);

              $(".form-group.hidden", $form).removeClass('hidden');
              $(".item-info").addClass("fadeOutRight")
                             .addClass("hidden")
                             .removeClass("fadeOutRight")
                             .removeClass("col-sm-offset-2")
                             .addClass("fadeInLeft")
                             .removeClass("hidden");

              $(".search-result").removeClass("hidden");
              var sel = "#page-wrapper > div > div > div.col-sm-4.search-result.animated.fadeInRight > div > div.ibox-title.title > h5";
              $(sel).text(book.title);


              var img = "#page-wrapper > div > div > div.col-sm-4.search-result.animated.fadeInRight > div > div.auto.result-item > div > img";
              // $(img).src = "<%= @classified.images.first %>";
              var img_src = "<%= @classified.images.first %>";
              console.log(img_src + "sssssssssssssssssss");
              // return false;
            }
  })
  .keydown(function(e){
    if (e.keyCode === 13) {
      e.preventDefault();
      $("form.listing-form .form-group.hidden").removeClass('hidden');
      $("form.listing-form .form-group input").attr("disabled", false);
      return false;
    }
  })
  .data("ui-autocomplete")._renderItem = function (ul, item) {
    return $("<li>")
                    .append("<a> <img src=" + item.image_url + "></img>" + item.book.title + item.book.description + "</a>")
                    .appendTo(ul);
  };

  function get_airports(request, response) {
    console.log(request.term)
    var params = {
      keywords: request.term
    };
    $.get("/queries/json_completion", params, function (data) {
      console.log(data)
      response(data);
    }, "json");
  }



});

</script>