<%= form_for @classified, html: { class: 'form-horizontal', multipart: true } do |f| %>
	<%= f.hidden_field :listing_type, value: @classified.listing_type %>
	<div class="classified-fields">
		<div class="col-md-12 header">
			<h6>Tell us about the item</h6>
		</div>
		<div class="form-group">
		  	<%= f.label :title, class: 'col-md-2 control-label' %>
	   	 	<div class="col-md-10">
				<%= f.text_field :title, class: 'form-control', placeholder: 'Example: Male roommate needed in 3bhk apt or Sale B S Grewal book for 55%' %>
	   	  	</div>
	  	</div>

		<div class="form-group">
		  	<%= f.label :category, class: 'col-md-2 control-label' %>
	   	 	<div class="col-md-10">
				<%= f.select :category_id, Category.order(name: :asc).select(:name, :id).collect { |category| [category.name, category.id] }, {}, { class: 'inverse-dropdown-select' } %>
	   	  	</div>
	  	</div>

		<div class="form-group">
		  	<%= f.label :description, class: 'col-md-2 control-label' %>
	   	 	<div class="col-md-10">
				<%= f.text_area :description, class: 'form-control', rows: 4, placeholder: 'Example: A beautiful apartment 2 kms from college with hot water, furniture, balcony and lot of restaurants around. Need a clean, pet loving and responsible flat mate.' %>
	   	  	</div>
	  	</div>
		
		<div class="form-group">
		  	<%= f.label :image, class: 'col-md-2 control-label' %>
	   	 	<div class="col-md-10">
				<%= f.file_field :image, class: 'form-control' %>
				<%= f.hidden_field :image_cache %>
				<p class="help-block">Having an image drastically improves the chances of selling your item. Please consider uploading an image.</p>
	   	  	</div>
	  	</div>

		<div class="form-group">
		  	<%= f.label :price, "Price (Rs)", class: 'col-md-2 control-label' %>
	   	 	<div class="col-md-10">
				<%= f.text_field :price, class: 'form-control', placeholder: 250 %>
	   	  	</div>
	  	</div>
	</div>
	
	<hr class="hr-dashed col-md-offset-1"></hr>
	
	<div class="user-fields">
		
		<div class="form-group">
		  	<%= label_tag :mobile, nil, class: 'col-md-2 control-label' %>
	   	 	<div class="col-md-10">
				<%= text_field_tag :mobile, nil, class: 'form-control' %>
	   	  	</div>
	  	</div>

		<div class="form-group">
			<%= label_tag :college, nil, class: 'col-md-2 control-label' %>
			<div class="col-md-10">
	            <%= select_tag :college_id, options_from_collection_for_select(College.order(name: :asc).select(:id,:name), :id, :name), class: 'inverse-dropdown-select' %>
	        </div>
		</div>
		
	    <div class="form-group" style="margin-top:15px">
	       <div class="col-md-offset-2 col-md-10">
			     <%= link_to 'Sign in with Facebook and Create', "/auth/facebook", class: 'btn btn-primary btn-embossed fb-sign-in fb-sign-up-classified' %>
	       </div>
	     </div>
	</div>
		
<% end %>
