

<div class="row wrapper wrapper-content">

  <div class="row col-sm-12 ?animated ?fadeInRight" style="margin-left: 10px; margin-right: 10px;">


    <div class="col-sm-6 col-sm-offset-3 item-info main-info animated fadeInRight">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Item Information</h5>
        </div>
        <div class="ibox-content">
          <div class="item-form">
            <div class="?ibox float-e-margins">
              <div class="?ibox-content">
                <%= form_for @classified, html: {class: 'form-horizontal listing-form'} do |f| %>

                  <div class="form-group title">
                    <%= f.label :title, class: 'col-sm-2 control-label' %>
                    <div class="col-sm-9">
                      <%= f.text_field :title, class: 'form-control title', id: 'search-title' %>
                    </div>
                  </div> 

                  <div class="form-group">
                    <%= f.label :category, class: 'col-sm-2 control-label' %>
                    <div class="col-sm-9"> 
                     <%= f.select :category_id, Category.select(:name, :id).collect { |category| [category.name, category.id] }, { include_blank: true }, { class: "form-control category" } %>
                    </div>
                  </div>

                  <div class="form-group comment">
                    <%= f.label 'Description', class: 'col-sm-2 control-label' %>
                    <div class="col-sm-9">
                      <%= f.text_area :description, class: 'form-control comment required' %>
                    </div>
                  </div>

                  <div class="form-group selling-price">
                    <%= f.label :price, 'Price (Rs)', class: 'col-sm-2 control-label' %>
                    <div class="col-sm-9"> 
                      <%= f.text_field :price, class: 'form-control selling-price' %>
                    </div>
                  </div>



                  <div class="hidden">
                  <%= f.fields_for :user do |user| %>


                  <div class="form-group">
                    <%= user.label :name, class: 'col-sm-2 control-label' %>
                    <div class="col-sm-9">
                      <%= user.text_field :name, class: 'form-control name' %>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= user.label :mobile, class: 'col-sm-2 control-label' %>
                    <div class="col-sm-9">
                      <%= user.text_field :mobile, class: "form-control mobile" %>
                    </div>
                  </div>

                  <div class="form-group college">
                    <%= user.label :college, class: 'col-sm-2 control-label' %>
                    <div class="col-sm-9">
                      <%= user.select :college_id, College.select(:id, :name).collect { |college| [college.name, college.id] }, { include_blank: true }, class: "form-control college required" %>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= user.label :email, class: 'col-sm-2 control-label' %>
                    <div class="col-sm-9">
                      <%= user.text_field :email, class: "form-control email" %>
                    </div>
                  </div>
                

                  <div class="form-group">
                    <%= user.label :password, class: 'col-sm-2 control-label' %>
                    <div class="col-sm-9">
                      <%= user.password_field :password, class: "form-control password" %>
                    </div>
                  </div>
                  
                  <% end %>
                  </div>

                  <div class="form-group buttons">
                    <div class="col-sm-6 col-sm-offset-2">
                      <!-- <%= f.submit :submit, class: "btn btn-primary submit" %> -->
                      <!-- <%= f.submit :cancel, class: "btn btn-default cancel" %> -->
                      <a class="btn btn-default cancel">Cancel</a>
                      <a class="btn btn-primary next">Next ></a>

                    </div>
                  </div>

                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="dummy seller-info col-sm-6 col-sm-offset-3 item-info animated fadeInRight hidden">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Your Info</h5>
        </div>
        <div class="ibox-content">
          <div class="item-form">
            <div class="?ibox float-e-margins">
              <div class="?ibox-content">
                <form class="form-dummy form-horizontal">
                
                  <div class="form-group name">
                    <%= label_tag "Name", nil, class: "col-sm-2 control-label" %>
                    <div class="col-sm-9">
                      <%= text_field_tag "Name", nil, class: "form-control name" %>
                    </div>
                  </div> 
                  <div class="form-group mobile">
                    <%= label_tag "Mobile", nil, class: "col-sm-2 control-label" %>
                    <div class="col-sm-9">
                      <%= text_field_tag "Mobile", nil, class: "form-control mobile" %>
                    </div>
                  </div> 
                  <div class="form-group college">
                    <%= label_tag "College", nil, class: "col-sm-2 control-label" %>
                    <div class="col-sm-9">
                      <%= text_field_tag "College", nil, class: "form-control college" %>
                    </div>
                  </div> 
                  <div class="form-group email">
                    <%= label_tag "Email", nil, class: "col-sm-2 control-label" %>
                    <div class="col-sm-9">
                      <%= text_field_tag "Email", nil, class: "form-control email" %>
                    </div>
                  </div> 

                  <div class="form-group password">
                    <%= label_tag "Password", nil, class: "col-sm-2 control-label" %>
                    <div class="col-sm-9">
                      <%= password_field_tag "Password", nil, class: "form-control password" %>
                    </div>
                  </div> 

                  <div class="form-group buttons">
                    <div class="col-sm-5 col-sm-offset-2">
                      <a class="btn btn-default back">Back</a>
                      <a class="btn btn-primary submit">Submit</a>

                    </div>

                    <div class="col-sm-5">
                      <div>
                        Already have an account? <br/>
                        <%= link_to "Sign In", new_user_session_path %>
                      </div>                    
                    </div>
                  </div>


                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<style type="text/css">
  div.form-group.buttons .delete {
    margin-right: 75px;
  }
</style>

<script>
$(document).ready(function() {
  $("body").on("click", "form.listing-form a.next", function(e) {
    e.preventDefault();
    $("div.item-info").addClass("hidden");
    $("div.dummy").removeClass("hidden");
    return false;
  });
});  
</script>