

<div class="row wrapper animated fadeInRight">

  <div class="row col-sm-12 ?animated ?fadeInRight" style="margin-left: 10px; margin-right: 10px;">


    <div class="col-sm-4 search-result animated fadeInRight hidden" >
      <div class="ibox float-e-margins">
        <div class="ibox-title title">
          <h5>VLSI Design</h5>
        </div>
        <div class="auto result-item">
          <div class="ibox-content ?no-padding border-left-right">
            <%= image_tag("book1.jpg", class: "img-responsive classified-image") %>
          </div>
<!--           <div class="ibox-content profile-content">
            <table class="table table-bordered">
              <tbody>
                <tr class="edition">
                  <td>Edition</td>
                  <td class="val">2</td>
                </tr>                    
                <tr class="publisher">
                  <td>Publisher</td>
                  <td class="val">Penguin House</td>
                </tr>
                <tr class="isbn10">
                  <td>ISBN 10</td>
                  <td class="val">9876543210</td>
                </tr>
              </tbody>
            </table>
            <br/>
            <h5>Description</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.</p>
            <div class="row m-t-lg"></div>
            <div class="user-button">
              <div class="row">
                <div class="col-sm-6">
                  <button type="button" class="btn btn-danger btn-sm btn-block clear"><i class="fa fa-times"></i> Clear</button>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn btn-primary btn-sm btn-block select"><i class="fa fa-share"></i> Select</button>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>


    <div class="col-sm-8 col-sm-offset-2 item-info animated ?fadeInRight ?hidden">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Item Information</h5>
        </div>
        <div class="ibox-content">
          <div class="item-form">
            <div class="?ibox float-e-margins">
              <div class="?ibox-content">
              <%= form_for @classified, html: { multipart: true } do |f| %>
              
                  <%= f.fields_for @book do |b| %>
                  <div class="form-group">
                     <%= b.label :title, class: 'col-sm-2, control-label' %>
                    <div class="col-sm-10">
                      <%= b.text_field :title, class: 'form-control title', id: 'search-title' %>
                    </div>
                  </div>

                  <div class="form-group hidden">
                    <%= b.label :publisher, class: 'col-sm-2 control-label' %>
                    <div class="col-sm-10">
                      <%= b.text_field :publisher, class: 'form-control publisher' %>
                    </div>
                  </div>

                  <div class="form-group hidden">
                    <%= b.label 'ISBN', class: 'col-sm-2 control-label' %>
                    <div class="col-sm-10">
                      <%= b.text_field :isbn, class: 'form-control isbn10' %>
                    </div>
                  </div>
                  <% end %>

                  <%= f.fields_for :images do |image| %>
                   <%= image.label 'Image' %>
                   <%= image.file_field :file, multiple: true, name: 'images[file][]' %>
                   <% end %>
                   <%= f.submit %>
<!-- 
                  <div class="form-group hidden">
                    <label class="col-sm-2 control-label">ISBN 13</label>
                    <div class="col-sm-10">
                      <input type="text" disabled="" class="form-control isbn13">
                    </div>
                  </div> -->

                  <div class="form-group hidden">
                    <label class="col-sm-2 control-label">Retail Price</label>
                    <div class="col-sm-10">
                      <!-- <p class="form-control-static">Rs 430</p> -->
                      <input type="text" disabled="" class="form-control isbn10">
                    </div>
                  </div>

                  <div class="hr-line-dashed"></div>

                  <div class="form-group hidden">
                    <label class="col-sm-2 control-label">Pattern</label>
                    <div class="col-sm-10">
                      <select class="form-control m-b" name="account">
                        <option>2004</option>
                        <option>2008</option>
                        <option>2012</option>
                      </select>
                    </div>
                  </div>


                  <div class="form-group hidden">
					          <%= f.label :condition, class: 'col-sm-2 control-label' %>
                    <%= f.select :condition, [['Like new', 'Like new'], ['Fair', 'Fair'], ['Heavily used', 'Heavily used']] %>
                  </div>

                  <div class="form-group hidden">
                    <%= f.label :selling_price, class: 'col-sm-2 control-label' %>
                    <div class="col-sm-10">
                      <%= f.text_field :selling_price, class: 'form-control', value: @classified.suggested_price %>
                    </div>
                  </div>

                  <div class="form-group hidden">
                    <%= f.label :description, class: 'col-sm-2 control-label' %>
                    <div class="col-sm-10">
                      <%= f.text_area :comment, class: 'form-control sell-form-comments' %>
                    </div>
                  </div>

                  <div class="form-group hidden">
                    <div class="col-sm-10 col-sm-offset-2">
                      <%= f.button 'Save', class: 'btn btn-primary' %>
                    </div>
                  </div>


              <% end %>

               <div class="form-group hidden">
                    <label class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                      <textarea class="form-control sell-form-comments"></textarea>
                    </div>
                  </div>


                  <div class="form-group hidden">
                    <label class="col-sm-2 control-label">Optional</label>
                    <div class="col-sm-10">
                      <label class="checkbox-inline i-checks">Has pen marks
                        <div class="icheckbox_square-green" style="position: relative;">
                          <input type="checkbox" value="option1" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins>
                        </div>
                      </label>
                      <label class="checkbox-inline i-checks">Lose binding
                        <div class="icheckbox_square-green" style="position: relative;">
                          <input type="checkbox" value="option2" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins>
                        </div>
                      </label>
                      <label class="checkbox-inline i-checks">Some pages torn
                        <div class="icheckbox_square-green" style="position: relative;">
                          <input type="checkbox" value="option3" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins>
                        </div>
                      </label>
                    </div>
                  </div>
<!--                   <div class="form-group hidden">
                    <label class="col-sm-2 control-label">Upload Pictures</label>
                    <div class="col-sm-10">
                      <div id="my-awesome-dropzone" class="dropzone dz-clickable" action="/file-upload">
                        <div class="dropzone-previews"></div>
                        <div class="dz-default dz-message"><span>Drop files here to upload</span>
                        </div>
                      </div>
                    </div>
                  </div> -->
            
                  </div>
                  <div class="form-group hidden">
                    <div class="col-sm-10 col-sm-offset-2">
                      <button class="btn btn-primary pull" type="submit">Save changes</button>
                      <button class="btn btn-white push" type="submit">Cancel</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- </body> -->
<script type="text/javascript">
</script>
<style type="text/css">


  input[type=text] {
    border-radius: 0px !important;
  }

  .bordered {
    border: 1px solid gray;
  }

/*  ul.ui-corner-all {
    border-radius: 0px !important;
  }

  ul a.ui-corner-all {
    border-radius: 0px;
    color: red;
    background-color: white;
  }*/
/*  ul.ui-autocomplete a, 
  ul.ui-autocomplete a.ui-state-focus {
    border: 0px !important;
  }*/

  ul.ui-autocomplete a.ui-state-focus {
    background-color: #eee;
    /*border-color: #666;*/
  }

  ul.ui-autocomplete {
    /*padding: 0px !important;*/
  }

  ul.ui-autocomplete li div {
    padding: 5px 0 0 10px;
    margin-top: 5px;
  }

  ul.ui-autocomplete img {
    vertical-align: top;
    margin-top: 5px;
  }

  ul.ui-autocomplete span.author {
    font-style: italic;
  }

  ul.ui-autocomplete span.author,
  ul.ui-autocomplete span.publisher {
    font-size: 12px;
    color: gray;
  }


  .ui-corner-all {
    border-radius: 0px !important;
  }

  #page-wrapper {
    margin: 0px;
    padding: 0px;
  }

  .navbar-inverse {
    background-color: #2a3947;
    border-color: #2a3947;
  }

  #navbar-collapse-01 > ul.nav.navbar-nav.navbar-left > li > a {
    color: white;
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 18px;
  }

  #navbar-collapse-01 > ul.nav.navbar-nav.navbar-right > li > a {
    color: white;
  }

  .wrapper {
    padding: 0px;
  }

  .banner-top {
    margin-top: -40px !important;
    min-height: 400px;
    background-color: #29aae1;
  }
  
  .row.search {
    margin-top: 80px;
  }
  
  .search button {
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
  
  .navbar {
    border-radius: 0px !important;
  }
  
  .navbar .divider-vertical {
    height: 20px;
    margin-top: 15px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
  }
  
  .navbar-inverse .divider-vertical {
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
  }
  
  @media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
      display: none;
    }
  }

  .noUi-background {
    background: #3FB8AF;
    box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
  }

  .noUi-connect {
    background: #FAFAFA;
    box-shadow: inset 0 1px 1px #f0f0f0;
    -webkit-transition: background 450ms;
    transition: background 450ms;
  }

  /* to make dropzone fit in the new form */
  
  .dropzone {
    min-height: 200px !important;
    height: 200px !important;
  }

  .dropzone .dz-default.dz-message {
    background-size: 80%;
    width: 228px;
    height: 53px;
    margin-left: -214px;
    margin-top: -61.5px;
    top: 65%;
    left: 60%;
  }

  .sell-form-comments {
    min-height: 120px;
  }

.classified-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>


<script type="text/javascript">
  $(document).ready(function () {

    $(".search-container").addClass("hidden");

    var books_data  = [
                        {
                          value: "jquery",
                          label: "jQuery",
                          desc: "the write less, do more, JavaScript library",
                          icon: "jquery_32x32.png",
                          img_src: "http://dummyimage.com/60X60"
                        }, {
                          value: "jquery-ui",
                          label: "jQuery UI",
                          desc: "the official user interface library for jQuery",
                          icon: "jqueryui_32x32.png",
                          img_src: "http://dummyimage.com/60X60"
                        }, {
                          value: "sizzlejs",
                          label: "Sizzle JS",
                          desc: "a pure-JavaScript CSS selector engine",
                          icon: "sizzlejs_32x32.png",
                          img_src: "http://dummyimage.com/60X60"
                        },
                        {
                          value: "jquery-ui",
                          label: "jQuery UI",
                          desc: "the official user interface library for jQuery",
                          icon: "jqueryui_32x32.png",
                          img_src: "http://dummyimage.com/60X60"
                        }
                     ];


    // $("#search-box").autocomplete({

    //   source: books_data,
    //   search: function(event, ui) {
    //     $("div.search-result").slideUp();
    //     $("div.item-info").slideUp();
    //   }, 
    //   focus: function (event, ui) {
    //     $("#search-box").val(ui.item.label);
    //     return false;
    //   },
    //   select: function (event, ui) {
    //     console.log("selected");
    //     $("div.search-result").slideDown();
    //     $("#search-box").val("");
    //     return false;
    //   }
    // })
    // .data("ui-autocomplete")._renderItem = function (ul, item) {
    //   return $("<li>")
    //                   .append("<a> <img src=" + item.img_src + "></img>" + item.label + item.desc + "</a>")
    //                   .appendTo(ul);
    // };


    $("button.clear").on('click', function(e) {
      e.preventDefault();
      console.log("clicked")
      console.log($("div.result-item"));
      $("div.search-result").slideUp();
      $("div.item-info").slideUp();
      return false;
    });

    $("button.select").on('click', function(e) {
      e.preventDefault();
      console.log("clicked");
        $("div.item-info").slideDown();


      var $item       = $(".auto.result-item > .ibox-content");
      var title       = $item.find("h4").text();
      var edition     = $item.find(".edition .val").text();
      var publisher   = $item.find(".publisher .val").text();
      var isbn10      = $item.find(".isbn10 .val").text();
      var isbn13      = $item.find(".isbn13 .val").text();
      
      console.log(title)
      console.log(edition)
      console.log(publisher)
      console.log(isbn10)
      console.log(isbn13)


      var $form = $("form.listing-form");
      console.log($form)
      console.log($form.find("input.title"));
      $form.find("input.title").val(title);
      $form.find("input.edition").val(edition);
      $form.find("input.publisher").val(publisher);
      $form.find("input.isbn10").val(isbn10);
      $form.find("input.isbn13").val(isbn13);

    });


  });
</script>

<script type="text/javascript">
$(document).ready(function () {

  $("#search-title").autocomplete({
    source: get_results,
    minLength: 3,
    select: function (event, ui) {
              event.preventDefault();
              console.log(ui.item.book);
              // return false;
              console.log("inhereerererererre")
              // var $item       = $(".auto.result-item > .ibox-content");
              // var title       = $item.find("h4").text();
              // var edition     = $item.find(".edition .val").text();
              // var publisher   = $item.find(".publisher .val").text();
              // var isbn10      = $item.find(".isbn10 .val").text();
              // var isbn13      = $item.find(".isbn13 .val").text();
              var book  = ui.item.book;
              var $form = $("form.listing-form");

              $form.find("input.title").val(book.title);
              $form.find("input.edition").val(book.edition);
              $form.find("input.publisher").val(book.publisher);
              $form.find("input.isbn10").val(book.isbn);

              $(".form-group.hidden", $form).removeClass('hidden');
              $(".item-info").addClass("fadeOutRight")
                             .addClass("hidden")
                             .removeClass("fadeOutRight")
                             .removeClass("col-sm-offset-2")
                             .addClass("fadeInLeft")
                             .removeClass("hidden");

              $(".search-result").removeClass("hidden");
              var sel = "#page-wrapper > div > div > div.col-sm-4.search-result.animated.fadeInRight > div > div.ibox-title.title > h5";
              $(sel).text(book.title);


              var img = "#page-wrapper > div > div > div.col-sm-4.search-result.animated.fadeInRight > div > div.auto.result-item > div > img";
              // $(img).src = "<%= @classified.images.first %>";
              var img_src = "<%= @classified.images.first %>";
              console.log(img_src + "sssssssssssssssssss");
              // return false;
            }
  })
  .keydown(function(e){
    if (e.keyCode === 13) {
      e.preventDefault();
      $("form.listing-form .form-group.hidden").removeClass('hidden');
      $("form.listing-form .form-group input").attr("disabled", false);
      return false;
    }
  })
  .data("ui-autocomplete")._renderItem = function (ul, item) {
    $(".ui-corner-all").removeClass("ui-corner-all");
    return $("<li>")
                    .append("<a><img src=" + item.image_url + "></img>" + 
                      "<div style='display: inline-block;'> <span class=title><span class=search-term></span>" + item.book.title + "</span> <br />" +
                            // "<p class=edition>" + item.book.edition +"</p>" +
                            "<span class=author>" + item.book.author + "</span>, " +
                            "<span class=publisher>" + item.book.publisher + " Publications </span>" +
                      "</div></a>").appendTo(ul);
  };

  function get_results(request, response) {
    console.log(request.term)
    var params = {
      keywords: request.term
    };
    $.get("/queries/json_completion", params, function (data) {
      console.log(data)
      response(data);
    }, "json");
  }


});

</script>