
<div class="row wrapper wrapper-content ?animated ?fadeInRight">
  <div class="row col-sm-12 ?animated ?fadeInRight" style="?margin-left: 10px; margin-right: 10px;">

<div class="modal main fade animated fadeInRight" id="sign-up" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button> -->
        <h3 class="modal-title" id="myModalLabel">Create New Ad</h3>
        Fill in information about the item you'd like to sell.
      </div>
      <div class="modal-body">
                <%= form_for @classified, html: {class: 'form-horizontal listing-form'} do |f| %>

                  <div class="form-group title">
                    <%= f.label :title, class: 'col-sm-2 control-label' %>
                    <div class="col-sm-9">
                      <%= f.text_field :title, class: 'form-control required title', id: 'search-title' %>
                    </div>
                  </div> 

                  <div class="form-group category">
                    <%= f.label :category, class: 'col-sm-2 control-label' %>
                    <div class="col-sm-9"> 
                     <%= f.select :category_id, Category.order(name: :asc).select(:name, :id).collect { |category| [category.name, category.id] }, { include_blank: true }, { class: "form-control required category" } %>
                    </div>
                  </div>

                  <div class="form-group comment">
                    <%= f.label 'Description', class: 'col-sm-2 control-label' %>
                    <div class="col-sm-9">
                      <%= f.text_area :description, class: 'form-control ?required comment' %>
                    </div>
                  </div>

                  <div class="form-group selling-price">
                    <%= f.label :price, 'Price (Rs)', class: 'col-sm-2 control-label' %>
                    <div class="col-sm-9"> 
                      <%= f.text_field :price, class: 'form-control required selling-price numeric' %>
                    </div>
                  </div>



                  <div class="user-form hidden">
                  <%= f.fields_for :user do |user| %>


                  <div class="form-group">
                    <%= user.label :name, class: 'col-sm-2 control-label' %>
                    <div class="col-sm-9">
                      <%= user.text_field :name, class: 'form-control name' %>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= user.label :mobile, class: 'col-sm-2 control-label' %>
                    <div class="col-sm-9">
                      <%= user.text_field :mobile, class: "form-control mobile numeric" %>
                    </div>
                  </div>

                  <div class="form-group college">
                    <%= user.label :college, class: 'col-sm-2 control-label' %>
                    <div class="col-sm-9">
                      <%= user.select :college_id, College.order(name: :asc).select(:id, :name).collect { |college| [college.name, college.id] }, { include_blank: true }, class: "form-control college" %>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= user.label :email, class: 'col-sm-2 control-label' %>
                    <div class="col-sm-9">
                      <%= user.text_field :email, class: "form-control email" %>
                    </div>
                  </div>
                

                  <div class="form-group">
                    <%= user.label :password, class: 'col-sm-2 control-label' %>
                    <div class="col-sm-9">
                      <%= user.password_field :password, class: "form-control password" %>
                    </div>
                  </div>
                  
                  <% end %>
                  </div>

                  <div class="form-group buttons">
                    <% if current_user %>
                    <div class="col-sm-6 col-sm-offset-2">
                      <!-- <%= f.submit :cancel, class: "btn btn-default cancel" %> -->
                      <%= f.submit :submit, class: "btn btn-primary submit" %>
                      
                    </div>
                    <% else %>
                    <div class="col-sm-6 col-sm-offset-2">
                      <!-- <%= f.submit :submit, class: "btn btn-primary submit" %> -->
                      <!-- <%= f.submit :cancel, class: "btn btn-default cancel" %> -->
                      <!-- <a href="/classifieds" class="btn btn-default cancel">Cancel</a> -->
                      <a class="btn btn-primary next">Next ></a>
                    </div>
                    <% end %>
                  </div>

                <% end %>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<div class="modal dummy fade animated fadeInRight" id="sign-up" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button> -->
        <h3 class="modal-title" id="myModalLabel">Create New Ad</h3>
        Fill in information about yourself.
      </div>
      <div class="modal-body">
                <form class="form-dummy form-horizontal">
                
                  <div class="form-group name">
                    <%= label_tag "Name", nil, class: "col-sm-2 control-label" %>
                    <div class="col-sm-9">
                      <%= text_field_tag "Name", nil, class: "form-control required name" %>
                    </div>
                  </div> 
                  <div class="form-group mobile">
                    <%= label_tag "Mobile", nil, class: "col-sm-2 control-label" %>
                    <div class="col-sm-9">
                      <%= text_field_tag "Mobile", nil, class: "form-control numeric required mobile" %>
                    </div>
                  </div> 
                  <div class="form-group college">
                    <%= label_tag "College", nil, class: "col-sm-2 control-label" %>
                    <div class="col-sm-9">
                      <%= select_tag :college_id, options_from_collection_for_select(College.order(name: :asc).all, :id, :name_with_abbr_and_city), { class: "form-control college required", include_blank: true } %>
                    </div>
                  </div>

                  <hr class="hr-dashed"></hr>
                  <h6>Optional fields. We use these to create an account for you.</h6>
                  <div class="form-group email">
                    <%= label_tag "Email", nil, class: "col-sm-2 control-label" %>
                    <div class="col-sm-9">
                      <%= text_field_tag "Email", nil, class: "form-control email" %>
                    </div>
                  </div> 

                  <div class="form-group password">
                    <%= label_tag "Password", nil, class: "col-sm-2 control-label" %>
                    <div class="col-sm-9">
                      <%= password_field_tag "Password", nil, class: "form-control password" %>
                    </div>
                  </div> 
                  <hr class="hr-dashed"></hr>

                  <div class="form-group buttons">

                    <div class="col-sm-5 col-sm-offset-2">
                      <a class="btn btn-default back">Back</a>
                      <a class="btn btn-primary submit">Submit</a>
                    </div>

                    <div class="col-sm-5">
                      <div>
                        Already have an account? <br/>
                        <%= link_to "Sign In", new_user_session_path %>
                      </div>                    
                    </div>
                  </div>


                </form>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
$(document).ready(function() {

  $(".form-control").attr("autocomplete", "off");

  $("body").on("focus", ".form-control", function(e) {
    $(".form-control").parent().parent().removeClass("has-error");
  });


  $(".form-control.numeric").keydown(function (e) {
      // Allow: backspace, delete, tab, escape, enter and .
      if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
           // Allow: Ctrl+A
          (e.keyCode == 65 && e.ctrlKey === true) || 
           // Allow: home, end, left, right
          (e.keyCode >= 35 && e.keyCode <= 39)) {
               // let it happen, don't do anything
               return;
      }
      // Ensure that it is a number and stop the keypress
      if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
          e.preventDefault();
      }
  });


  $(".modal.main").removeClass("modal").removeClass("fade").attr("aria-hidden", false);

  $("body").on("click", "form.listing-form a.next", function(e) {
    e.preventDefault();
    var flag = true;
    $.each($(".listing-form .form-control.required"), function(i,el) {
      var $el = $(el);
      if ($el.val().trim() == "" ) { 
        flag = false;
        $el.parent().parent().addClass("has-error");
      }
    });
    if (flag) {
      $(".main").addClass("hidden");
      $(".modal.dummy").removeClass("modal").removeClass("fade").attr("aria-hidden", false).removeClass("hidden");      
    }

    return false;
  });

  $("body").on("click", "form a.back", function(e) {
    e.preventDefault();
    $(".dummy").addClass("modal").addClass("fade").attr("aria-hidden", true).addClass("hidden");
    $(".main").removeClass("hidden");
    return false;
  });

  // $("body").on("click", "form.listing-form a.next", function(e) {
  //   e.preventDefault();
  //   $(".main .modal-body").addClass("hidden");
  //   $(".modal.dummy").removeClass("modal").removeClass("fade").attr("aria-hidden", false).removeClass("hidden");
  //   $(".dummy .modal-header").addClass("hidden");
  //   $(".dummy").css("margin-top", "-50px");

  //   return false;
  // });

  // $("body").on("click", "form a.back", function(e) {
  //   e.preventDefault();
  //   $(".dummy").addClass("modal").addClass("fade").attr("aria-hidden", true).addClass("hidden");
  //   $(".main").removeClass("hidden");
  //   return false;
  // });


  $("body").on("click", ".listing-form input.submit", function(e) {
    e.preventDefault();
    var flag = true;
    $.each($(".listing-form .form-control.required"), function(i,el) {
      var $el = $(el);

      if ($el.val().trim() === "" ) { 
        flag = false;
        $el.parent().parent().addClass("has-error");
      }

      if ($el.hasClass("mobile")) { 
        var len = $el.val().length;
        if (len < 10 || len > 10) { 
          flag = false;
          $el.closest(".form-group").addClass("has-error");
        }
      }

    });

    if (flag) {
      $("form.listing-form").submit();
    }
  })

  var validate_email = function(email) {
    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
  }

  $("body").on("click", ".form-dummy a.submit", function(e) {

    var flag = true;
    $.each($(".form-dummy.form-horizontal .form-control.required"), function(i,el) {
      var $el = $(el);
      if ($el.val().trim() == "" ) { 
        flag = false;
        $el.parent().parent().addClass("has-error");
      }

      if ($el.hasClass("mobile")) { 
        var len = $el.val().length;
        if (len < 10 || len > 10) { 
          flag = false;
          $el.closest(".form-group").addClass("has-error");
        }
      }
    });


    // validating email and password
    var $email = $(".form-dummy .form-control.email");
    var $paswd = $(".form-dummy .form-control.password");

    var email = $email.val().trim();
    var paswd = $paswd.val().trim();

    if (email.length > 0 || paswd.length > 0) {
      var email_flag = validate_email(email);
      var paswd_flag = paswd.length > 4;
      
      flag = flag && email_flag && paswd_flag;

      if (!email_flag) {
        $email.parent().parent().addClass("has-error");
      }
      if (!paswd_flag) {
        $paswd.parent().parent().addClass("has-error");
      }
    }
    // end


    if (flag) { 
      var name, mobile, college, user, paswd;
      var $dummy = $("form.form-dummy");
      name      = $("input.name",    $dummy).val();
      mobile    = $("input.mobile",  $dummy).val();
      college   = $("select.college", $dummy).val();
      email     = $("input.email",   $dummy).val();
      password  = $("input.password", $dummy).val();

      var $form = $("div.user-form");
      $form.find("input.name").val(name);
      $form.find("input.mobile").val(mobile);
      $form.find("select.college").val(college);
      $form.find("input.email").val(email);
      $form.find("input.password").val(password);


      // $(".main").removeClass("hidden");
      // $form.removeClass("hidden");

      $("form.listing-form").submit();
    }
  });

});
</script>


<style>
div#sign-up:focus {
  outline: none !important;
}

div#sign-up {
  margin-top: -30px;
  margin-left: -50px;
}

body {
  height: 100%;
  overflow: hidden;
}

.filters {
  padding-left: 0px !important;
}

.colleges select {
  padding-left: 3px;
}
.categories > .category {
  /*font-weight: 800;*/
  padding: 1px 5px 1px 5px;
  border-radius: 3px;
}

.filter-choice {
  margin-bottom: 20px;
}

.desc {
  padding-left: 0px;
  margin-left: 0px;
  margin-top: 5px;
  padding-right: 0px;
}
span.date-posted {
  font-size: 10px;
}

.details {
  margin-top: 2px;
}

.details, .details div {
  margin-left: 0px;
  padding-left: 0px;
  /*margin-top: 5px;*/
}
span.s-name {
  display: inline-block;
  margin-bottom: 3px;
}

div.s-info {
  /*margin-top: 20px;*/
  /*margin-left: 40px !important;*/
  padding-right: 0px;
  padding-left: 35px;
  height: 60px;
  /*padding-left: 0px;*/
}

.classified-info {
  padding-left: 0px;
  margin-left: 0px;
}

div.date-posted {
  margin-left: -10px;
  margin-top: -2px;
}

h4.title > a:hover.
h4.title > a:active {
  text-decoration: none !important;
}

.date-price {
  margin-top: -7px;
  padding-right: 0px;
  margin-right: 0px;
  padding-left: 20px;
  /*margin-left: 10px;*/
}

.classified-info {
  padding-right: 0px;
}
</style>