<h1>Listing classifieds</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image</th>
      <th>User</th>
      <th>College</th>
      <th>Price</th>
      <th>Type</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @classifieds.each do |classified| %>
      <tr>
        <td><%= classified.title %></td>
        <td><%= classified.description %></td>
        <td><%= classified.image %></td>
        <td><%= classified.user_id %></td>
        <td><%= classified.college_id %></td>
        <td><%= classified.price %></td>
        <td><%= classified.type %></td>
        <td><%= classified.status %></td>
        <td><%= link_to 'Show', classified %></td>
        <td><%= link_to 'Edit', edit_classified_path(classified) %></td>
        <td><%= link_to 'Destroy', classified, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Classified', new_classified_path %>
