
  <div id="wrapper">
    <div id="page-wrapper" class="gray-bg">

      <header>
        <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
          <div class="collapse navbar-collapse" id="navbar-collapse-01">

            <ul class="nav navbar-nav">
              <li><a href="" style="font-size: 17px; color: white;">pajama deals</a>
              </li>
            </ul>

            <div style="display: inline-block;">
              <form class="navbar-form _navbar-left" role="search" style="width: 805px; margin-left: 6%; margin-right: 10%">
                <div class="input-group _col-sm-offset-3 _col-sm-4">
                  <input type="text" placeholder="Search by title or isbn" class="form-control" id="search-box"> <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" style="padding: 6.5px 15px 6.5px 15px;">Search</button>
                      </span>
                  </input>                  
                </div>
              </form>
            </div>

            <ul class="nav navbar-nav navbar-right">
              <li><a href="">Sign In</a>
              </li>
              <li class="divider-vertical"></li>
              <li><a href="">Sign Up</a>
              </li>
            </ul>

          </div>
        </nav>
      </header>


      <div class="row wrapper wrapper-content _animated _fadeInRight">

        <div class="row col-md-12 _animated _fadeInRight" style="margin-left: 10px; margin-right: 10px;">
        
          <div class="col-md-3 pull-left">
              <div class="ibox-content">
                <div>
                  <div>
                    <span>Memory</span>
                    <small class="pull-right">10/200 GB</small>
                  </div>
                  <div class="progress progress-small">
                    <div style="width: 60%;" class="progress-bar"></div>
                  </div>

                  <div>
                    <span>Bandwidth</span>
                    <small class="pull-right">20 GB</small>
                  </div>
                  <div class="progress progress-small">
                    <div style="width: 50%;" class="progress-bar"></div>
                  </div>

                  <div>
                    <span>Activity</span>
                    <small class="pull-right">73%</small>
                  </div>
                  <div class="progress progress-small">
                    <div style="width: 40%;" class="progress-bar"></div>
                  </div>

                  <div>
                    <span>FTP</span>
                    <small class="pull-right">400 GB</small>
                  </div>
                  <div class="progress progress-small">
                    <div style="width: 20%;" class="progress-bar progress-bar-danger"></div>
                  </div>
                </div>
              </div>
          </div>
            
          <div class="row results col-sm-9 pull-right">


          
              <div class="row col-md-9 contact-box result">

                <div class="col-sm-2">
                  <%= image_tag("s160x160_book3.jpg", class: "img-circle ?m-t-xs img-responsive book-img") %>
                </div>

                <div class="col-sm-10 row pull-right book-info">
                  <h4 class="title">Introduction to Algorithms</h4>, 2nd Edition 
                  <span class="pull-right">Posted: 22 Sept, 2013</span>
                  <br/>
                  <span class="authors"><em>Cormen Rivest</em></span>
                  <div class="row">
                    <h3 class="expected-price"><strong>Rs 230</strong></h3>
                    <h5 class="retail-price">(MRP: Rs 450)</h5><br/>

                    <div class="col-sm-6">
                      <table class="table-left">
                        <tr>
                          <td><strong>Publisher:</strong></td>
                          <td></td>
                          <td>Penguin House</td>
                        </tr>
                        <tr>
                          <td><strong>Released:</strong></td>
                          <td></td>
                          <td>2013</td>
                        </tr>
                        <tr>
                          <td><strong>MRP:</strong></td>
                          <td></td>
                          <td>Rs 450</td>
                        </tr>                                                             
                      </table>
                    </div>
                    <div class="col-sm-6">
                      <table class="table-right">
                        <tr>
                          <td><strong>Seller:</strong></td>
                          <td></td>
                          <td>Viksit Arora</td>
                        </tr>
                        <tr>
                          <td><strong>Contact:</strong></td>
                          <td></td>
                          <td>+91-9779860223</td>
                        </tr>
                        <tr>
                          <td><strong>College:</strong></td>
                          <td></td>
                          <td>VIT</td>
                        </tr>                                        
                      </table>                  
                    </div>
                  </div>
                </div>
              </div>

              <div class="row col-md-9 contact-box result">

                <div class="col-sm-2">
                  <%= image_tag("s160x160_book3.jpg", class: "img-circle ?m-t-xs img-responsive book-img") %>
                </div>

                <div class="col-sm-10 row pull-right book-info">
                  <h4 class="title">Introduction to Algorithms</h4>, 2nd Edition 
                  <span class="pull-right">Posted: 22 Sept, 2013</span>
                  <br/>
                  <span class="authors"><em>Cormen Rivest</em></span>
                  <div class="row">
                    <h3 class="expected-price"><strong>Rs 230</strong></h3>
                    <h5 class="retail-price">(MRP: Rs 450)</h5><br/>

                    <div class="col-sm-6">
                      <table class="table-left">
                        <tr>
                          <td><strong>Publisher:</strong></td>
                          <td></td>
                          <td>Penguin House</td>
                        </tr>
                        <tr>
                          <td><strong>Released:</strong></td>
                          <td></td>
                          <td>2013</td>
                        </tr>
                        <tr>
                          <td><strong>MRP:</strong></td>
                          <td></td>
                          <td>Rs 450</td>
                        </tr>                                                             
                      </table>
                    </div>
                    <div class="col-sm-6">
                      <table class="table-right">
                        <tr>
                          <td><strong>Seller:</strong></td>
                          <td></td>
                          <td>Viksit Arora</td>
                        </tr>
                        <tr>
                          <td><strong>Contact:</strong></td>
                          <td></td>
                          <td>+91-9779860223</td>
                        </tr>
                        <tr>
                          <td><strong>College:</strong></td>
                          <td></td>
                          <td>VIT</td>
                        </tr>                                        
                      </table>                  
                    </div>
                  </div>
                </div>
              </div>

              <div class="row col-md-9 contact-box result">

                <div class="col-sm-2">
                  <%= image_tag("s160x160_book3.jpg", class: "img-circle ?m-t-xs img-responsive book-img") %>
                </div>

                <div class="col-sm-10 row pull-right book-info">
                  <h4 class="title">Introduction to Algorithms</h4>, 2nd Edition 
                  <span class="pull-right">Posted: 22 Sept, 2013</span>
                  <br/>
                  <span class="authors"><em>Cormen Rivest</em></span>
                  <div class="row">
                    <h3 class="expected-price"><strong>Rs 230</strong></h3>
                    <h5 class="retail-price">(MRP: Rs 450)</h5><br/>

                    <div class="col-sm-6">
                      <table class="table-left">
                        <tr>
                          <td><strong>Publisher:</strong></td>
                          <td></td>
                          <td>Penguin House</td>
                        </tr>
                        <tr>
                          <td><strong>Released:</strong></td>
                          <td></td>
                          <td>2013</td>
                        </tr>
                        <tr>
                          <td><strong>MRP:</strong></td>
                          <td></td>
                          <td>Rs 450</td>
                        </tr>                                                             
                      </table>
                    </div>
                    <div class="col-sm-6">
                      <table class="table-right">
                        <tr>
                          <td><strong>Seller:</strong></td>
                          <td></td>
                          <td>Viksit Arora</td>
                        </tr>
                        <tr>
                          <td><strong>Contact:</strong></td>
                          <td></td>
                          <td>+91-9779860223</td>
                        </tr>
                        <tr>
                          <td><strong>College:</strong></td>
                          <td></td>
                          <td>VIT</td>
                        </tr>                                        
                      </table>                  
                    </div>
                  </div>
                </div>
              </div>

              <div class="row col-md-9 contact-box result">

                <div class="col-sm-2">
                  <%= image_tag("s160x160_book3.jpg", class: "img-circle ?m-t-xs img-responsive book-img") %>
                </div>

                <div class="col-sm-10 row pull-right book-info">
                  <h4 class="title">Introduction to Algorithms</h4>, 2nd Edition 
                  <span class="pull-right">Posted: 22 Sept, 2013</span>
                  <br/>
                  <span class="authors"><em>Cormen Rivest</em></span>
                  <div class="row">
                    <h3 class="expected-price"><strong>Rs 230</strong></h3>
                    <h5 class="retail-price">(MRP: Rs 450)</h5><br/>

                    <div class="col-sm-6">
                      <table class="table-left">
                        <tr>
                          <td><strong>Publisher:</strong></td>
                          <td></td>
                          <td>Penguin House</td>
                        </tr>
                        <tr>
                          <td><strong>Released:</strong></td>
                          <td></td>
                          <td>2013</td>
                        </tr>
                        <tr>
                          <td><strong>MRP:</strong></td>
                          <td></td>
                          <td>Rs 450</td>
                        </tr>                                                             
                      </table>
                    </div>
                    <div class="col-sm-6">
                      <table class="table-right">
                        <tr>
                          <td><strong>Seller:</strong></td>
                          <td></td>
                          <td>Viksit Arora</td>
                        </tr>
                        <tr>
                          <td><strong>Contact:</strong></td>
                          <td></td>
                          <td>+91-9779860223</td>
                        </tr>
                        <tr>
                          <td><strong>College:</strong></td>
                          <td></td>
                          <td>VIT</td>
                        </tr>                                        
                      </table>                  
                    </div>
                  </div>
                </div>
              </div>

              <div class="row col-md-9 contact-box result">

                <div class="col-sm-2">
                  <%= image_tag("s160x160_book3.jpg", class: "img-circle ?m-t-xs img-responsive book-img") %>
                </div>

                <div class="col-sm-10 row pull-right book-info">
                  <h4 class="title">Introduction to Algorithms</h4>, 2nd Edition 
                  <span class="pull-right">Posted: 22 Sept, 2013</span>
                  <br/>
                  <span class="authors"><em>Cormen Rivest</em></span>
                  <div class="row">
                    <h3 class="expected-price"><strong>Rs 230</strong></h3>
                    <h5 class="retail-price">(MRP: Rs 450)</h5><br/>

                    <div class="col-sm-6">
                      <table class="table-left">
                        <tr>
                          <td><strong>Publisher:</strong></td>
                          <td></td>
                          <td>Penguin House</td>
                        </tr>
                        <tr>
                          <td><strong>Released:</strong></td>
                          <td></td>
                          <td>2013</td>
                        </tr>
                        <tr>
                          <td><strong>MRP:</strong></td>
                          <td></td>
                          <td>Rs 450</td>
                        </tr>                                                             
                      </table>
                    </div>
                    <div class="col-sm-6">
                      <table class="table-right">
                        <tr>
                          <td><strong>Seller:</strong></td>
                          <td></td>
                          <td>Viksit Arora</td>
                        </tr>
                        <tr>
                          <td><strong>Contact:</strong></td>
                          <td></td>
                          <td>+91-9779860223</td>
                        </tr>
                        <tr>
                          <td><strong>College:</strong></td>
                          <td></td>
                          <td>VIT</td>
                        </tr>                                        
                      </table>                  
                    </div>
                  </div>
                </div>
              </div> 


            <% for classified in @classifieds[1..20] %>
              <div class="row col-md-9 contact-box result">

                <div class="col-sm-2 img-container">
                  <%= image_tag classified.image.s160x160, class: 'img-circle m-t-xs img-responsive book-img'%>
                </div>

                <div class="col-sm-10 row pull-right book-info">
                  
                  <h4 class="title"><%= classified.title %></h4>, 2nd Edition

                  <span class="pull-right">Posted: 22 Sept, 2013</span><br/>
                  <span class="authors"><em><%= classified.authors %></em></span>

                  <div class="row">
                    <h3 class="expected-price">Rs <%= classified.expected_price %></h3>
                    <h5 class="retail-price">(MRP: Rs <%= classified.retail_price %>)</h5><br/>
                    <div class="col-sm-6">
                      <table class="table-left">
                        <tr>
                          <td><strong>Publisher:</strong></td>
                          <td></td>
                          <td> - </td>
                        </tr>
                        <tr>
                          <td><strong>Released:</strong></td>
                          <td></td>
                          <td>2013</td>
                        </tr>
                        <tr>
                          <td><strong>Condition</strong></td>
                          <td></td>
                          <td><%= classified.condition %></td>
                        </tr>    
                      </table>
                    </div>
                    <div class="col-sm-6">
                      <table class="table-right">
                        <tr>
                          <td><strong>Seller:</strong></td>
                          <td></td>
                          <td><%= classified.user.name %></td>
                        </tr>
                        <tr>
                          <td><strong>Contact:</strong></td>
                          <td></td>
                          <td><%= classified.user.mobile_number %></td>
                        </tr>
                        <tr>
                          <td><strong>College:</strong></td>
                          <td></td>
                          <td><%= classified.college.abbr %></td>
                        </tr>                                        
                      </table>                  
                    </div>
                  </div>
                </div>
              </div>
            <% end %>

          </div> <!--results-->


        </div>

      </div>

    </div>
  </div>

<style type="text/css">
table {
  margin-top: 0px;
}

.contact-box {
  padding: 15px !important;
  margin-bottom: 0px;
}

.table-right td,
.table-left td {
  padding-bottom: 1px;
  font-size: 11px;
  min-width: 5px;
}

.book-img {
  max-width: 120px;
  max-height: 130px;
}

.result > div.img-container {
  padding: 0px;
}

.result h4.title {
  margin-bottom: 2px;
  display: inline-block;
  margin-top: 0px;
  color: #004b91;
}
.book-info > .authors {
  color: #787878;
}

.book-info > .row  > h3.expected-price {
  padding-left: 15px;
  padding-top: 5px;
  padding-right: 10px;
  display: inline-block;
  color: #e34e4d;
}

.book-info > .row > h5.retail-price {
  display: inline-block;
  color: #808080;
}

</style>


<style type="text/css">


.bordered {
  border: 1px solid gray;
}

#page-wrapper {
  margin: 0px;
  padding: 0px;
}
.navbar-inverse {
  background-color: #2a3947;
  border-color: #2a3947;
}
#navbar-collapse-01 > ul.nav.navbar-nav.navbar-left > li > a {
  color: white;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 18px;
}
#navbar-collapse-01 > ul.nav.navbar-nav.navbar-right > li > a {
  color: white;
}
.wrapper {
  padding: 0px;
}
.banner-top {
  /*border: 1px solid gray;*/
  margin-top: -40px !important;
  min-height: 400px;
  /*background-image: url('img/pajama/books.jpg')*/
  background-color: #29aae1;
}
.row.search {
  margin-top: 80px;
}
.search button {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: bold;
}
* {
  border-radius: 0px !important;
}
.navbar .divider-vertical {
  height: 20px;
  /*margin: 10px -5px 10px -5px;*/
  margin-top: 15px;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #f2f2f2;
  /*color: white;*/
}
.navbar-inverse .divider-vertical {
  /*  border-right-color: #222222;
border-left-color: #111111;*/
  border-right: 1px solid #ffffff;
  border-left: 1px solid #f2f2f2;
}
@media (max-width: 767px) {
  .navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}


</style>