
<div class="row wrapper wrapper-content animated fadeInRight">
  <div class="row col-sm-12 ?animated ?fadeInRight" style="?margin-left: 10px; margin-right: 10px;">

    <div class="col-sm-3 filters expanded">
      <div class="ibox float-e-margins">
        
        <div class="ibox-title">
          <h5>Filters</h5>
          <div class="ibox-tools">
            <a class="collapse-link-viksit">
              <i class="fa fa-chevron-up"></i>
            </a>
          </div>
        </div>

        <div class="ibox-content">
        
          <div class="filter-choice colleges">
            <h4>College</h4>
            <%= select_tag :college, options_from_collection_for_select(College.order(name: :asc).all, :id, :name_with_abbr_and_city, current_college.try(:id)), class: "form-control college required", prompt: "-- All --" %>
          </div>

          <div class="filter-choice categories">
            <h4>Category</h4>
            <span class="hidden current_category"><%= current_category.try(:id) %></span>
            <div class="category">
              <%= link_to "All", classifieds_path, { class: "", id: 0 } %>
              <span class="pull-right"></span>
            </div>
            <% for category in Category.order(name: :asc).all %>
              <%= div_for category do %>
                <%= link_to category.name, classifieds_path, { class: "category", id: category.id } %>
                <span class="count">(<%= current_college ? category.classifieds.where(college: current_college, list: true).count : category.classifieds.where(list: true).count %>)</span>
              <% end %>
            <% end %>
          </div>

        </div>
      </div>
    </div>


    <div class="col-sm-9 results ?col-sm-offset-3">
      <div class="categories-counts hidden"><%= @categories_counts %></div>
      <% if @classifieds.empty? %>
        <%= render 'shared/no_results' %>
      <% else %>
        <% for classified in @classifieds %>
          <div class="result-parent">
            <%= render classified %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-9 col-sm-offset-3">
      <%= paginate @classifieds %>
    </div>

  </div>
</div>