
<div class="row wrapper wrapper-content animated fadeInRight">
  <div class="row col-sm-12 ?animated ?fadeInRight" style="margin-left: 10px; margin-right: 10px;">
        <div class="col-sm-8 results col-sm-offset-2">

    <% for classified in @classifieds %>

      <div class="row col-sm-12 contact-box result">

        <div class="col-sm-6 row classified-info">
          <h4 class="title"><a href><%= classified.title %></a></h4>
          <div class="col-sm-12 desc">
            <div class="truncated"><em><%= classified.description.truncate(70) %></em></div>
            <div class="full hidden animated"><em><%= classified.description %></em></div>
          </div>
        </div>

        <div class="col-sm-4 col-sm-offet-8 s-info">
          <span class="s-name"><%= classified.user.name %></span> <br/>
          <span class="s-phone"> <i class="fa fa-phone"></i>&nbsp; <%= classified.user.try(:mobile_number) || classified.user.try(:email) %> </span><br/>
          <span class="s-loc"> <i class="fa fa-map-marker"></i>&nbsp;&nbsp;&nbsp;<%#= classified.college.abbr %>, <%#= classified.college.city %></span><br />
          <div class="s-email hidden"> <i class="fa fa-envelope"></i>&nbsp; <%= classified.user.email || '-' %></div><br />



        </div>

        <div class="col-sm-2 ?pull-right date-price">
          <span class="date-posted"><em><%= render_date classified.created_at %></em></span><br/>
          <h3 class="expected-price"><strong>Rs <%= classified.price %></strong></h3>
        </div>

      </div>
    <% end %>
    <%= will_paginate @classifieds %>
        </div> 

  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {

  var $last;
  var last_index;
  var current_index;
  var $siblings = $("div.result");

  $("body").on("click", "h4.title", function(e) {
    e.preventDefault();
    var $result = $(this).parent().parent();

    $.each($siblings, function(e) {
      $("div.full", e).addClass("hidden");
      $("div.s-email", e).addClass("hidden");
      $("div.truncated", e).removeClass("hidden");

    });

    $("div.truncated", $result).toggleClass("hidden");
    $("div.full", $result).toggleClass("hidden");
    $("div.s-email", $result).toggleClass("hidden");
    return false;
  });

});

</script>

<style type="text/css">
h3.expected-price {
  color: #e34e4d;
  font-size: 18px;
  margin-top: 15px;
  display: inline-block;
  /*margin-left: 30px !important;*/
}

.desc {
  padding-left: 0px;
  margin-left: 0px;
  margin-top: 5px;
  padding-right: 0px;
}
span.date-posted {
  font-size: 10px;
}

.details {
  margin-top: 2px;
}

.details, .details div {
  margin-left: 0px;
  padding-left: 0px;
  /*margin-top: 5px;*/
}
span.s-name {
  display: inline-block;
  margin-bottom: 3px;
}

div.s-info {
  /*margin-top: 20px;*/
  /*margin-left: 40px !important;*/
  padding-right: 0px;
  padding-left: 35px;
  height: 60px;
  /*padding-left: 0px;*/
}

.classified-info {
  padding-left: 0px;
  margin-left: 0px;
}

div.date-posted {
  margin-left: -10px;
  margin-top: -2px;
}

h4.title > a:hover.
h4.title > a:active {
  text-decoration: none !important;
}

.date-price {
  margin-top: -7px;
  padding-right: 0px;
  margin-right: 0px;
  padding-left: 20px;
  /*margin-left: 10px;*/
}

.classified-info {
  padding-right: 0px;
}

</style>