		<% if !mobile_device? %>
		  <%= render partial: 'layouts/secondary_nav' %>
		<% end %>
		  
		<% if mobile_device? %>
			<p class="text-center" style="font-size: 16px;">A place to conveniently buy/sell college stuff - used books, drafters, etc.</p>
		<% else %>
		  	<h4 class="text-center" style="margin-bottom: 50px; margin-top: 50px">A place to conveniently buy/sell college stuff - used books, drafters, instruments, things required by hostelites like tables, utilities, etc.</h4>
		<% end %>

<div class="alert alert-warning" role="alert" style="<%= 'font-size:12px;' if mobile_device? %>"><i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp;We are hiring student ambassadors in your college! <%= link_to 'Click here', sa_path %> to check out an exciting opportunity at Pajamadeals.</div>

<div id="classifieds">
	<%= render @classifieds %>
</div>
<%= paginate @classifieds %>