<div class="container">
	<div class="col-md-12">
		<div class="navbar navbar-inverse navbar-fixed-top">
		  <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		  </button>
  
		  <%= form_tag classifieds_path, class: 'navbar-form', method: :get do %>
				<div class="input-group">
					<%= search_field_tag :q, '', placeholder: 'Search', class: 'form-control' %>
			   	 	<span class="input-group-btn">
						<%= button_tag raw('<span class="fui-search"></span>'), class: 'btn' %>
					</span>
				</div>
		  <% end %>
		</div>
	</div>
</div>

<nav id="myNavmenu" class="navmenu navbar-default navmenu-default navmenu-fixed-right offcanvas" role="navigation">
  <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <%= link_to App.logo, root_path, class: 'navmenu-brand' %>
  <ul class="nav navmenu-nav">
    <li><%= link_to 'Post an Ad (free)', new_classified_path %></li>
  </ul>
  <hr class="hr-dashed"></hr>
  <ul class="nav navmenu-nav">
		<li><a>
			<div class="input-group">
				<div class="input-group-addon" style="background:none; border:none;color:inherit"><%= i('university')%></div>
				<%= select_tag 'filters[college_id]', options_from_collection_for_select(College.order(name: :asc), :id, :abbr_with_city, current_college.try(:id)), class: 'canvas-select form-control' ,prompt: "Select your college", onchange: "window.location.replace('/classifieds?filters[college_id]='+this.value)" %>
			</div>
		</a></li>
		<li><a>Categories&nbsp;<%= i('arrow-down')%></a></li>
		<div class="list-group categories">
			<% for category in Category.all.order(name: :asc) %>
				<%= link_to classifieds_path(filters: { category_id: category.id }), class: "list-group-item #{'current' if @category_id.to_i == category.id}" do %>
					<%= i(category.fa_icon) %>&nbsp;<%= category.name %>
				<% end %>
			<% end %>
		</div>
  </ul>
  <hr class="hr-dashed"></hr>
  <%= render partial: 'layouts/user_session_links' %>
</nav>
		
<div id="classifieds">
	<%= render @classifieds %>
</div>

<%= paginate @classifieds %>