
<div class="row wrapper wrapper-content animated fadeInRight">
  <div class="row col-sm-12 ?animated ?fadeInRight" style="margin-left: 10px; margin-right: 10px;">
    <% for classified in @classifieds %>
    <div class="col-sm-8 results col-sm-offset-2">



      <div class="row col-sm-12 contact-box result">

        <div class="col-sm-7 row classified-info">
          <h4 class="title"><%= classified.title %></h4>
          <div class="col-sm-12 desc">
            <em><%= classified.comment.truncate(70) %></em>
          </div>
        </div>

        <div class="col-sm-3 col-sm-offet-8 s-info">
          <span class="s-name"><%= classified.user.name %></span> <br/>
          <span class="s-phone"> <i class="fa fa-phone"></i> <%= classified.user.try(:mobile_number) || classified.user.try(:email) %> </span><br/>
          <span clas="s-loc"> <i class="fa fa-map-marker"></i><span>&nbsp;&nbsp;VIT</span></span><br />

        </div>

        <div class="col-sm-2 ?pull-right date-price">
          <span class="date-posted"><em><%= render_date classified.created_at %></em></span><br/>
          <h3 class="expected-price"><strong>Rs <%= classified.expected_price %></strong></h3>
        </div>

      </div>



    </div> 
    <% end %>
  </div>
</div>


<style type="text/css">
h3.expected-price {
  color: #e34e4d;
  font-size: 20px;
  margin-top: 15px;
  display: inline-block;
  /*margin-left: 30px !important;*/
}

.desc {
  padding-left: 0px;
  margin-left: 0px;
  margin-top: 5px;
  padding-right: 0px;
}
span.date-posted {
  font-size: 10px;
}

.details {
  margin-top: 2px;
}

.details, .details div {
  margin-left: 0px;
  padding-left: 0px;
  /*margin-top: 5px;*/
}
span.s-name {
}

div.s-info {
  /*margin-top: 20px;*/
  /*margin-left: 40px !important;*/
  padding-right: 0px;
  padding-left: 25px;
  /*padding-left: 0px;*/
}

.classified-info {
  padding-left: 0px;
  margin-left: 0px;
}

div.date-posted {
  margin-left: -10px;
  margin-top: -5px;
}

.date-price {
  margin-top: -10px;
  padding-right: 0px;
  margin-right: 0px;
  padding-left: 30px;
  /*margin-left: 10px;*/
}

.classified-info {
  padding-right: 0px;
}

</style>