<%= div_for @classified, class: 'show' do %>
	<div class="col-md-8 product box">
		<%= image_tag @classified.image, class: 'image center-block' %>
		<hr class="hr-dashed"></hr>
		<div class="product-details">
			<h6 class="title"><%= @classified.title %></h6>
			<p>Details</p>
			<table class="table">
				<tbody>
					<tr class="price">
						<td>Price</td>
						<td><%= render_price @classified.price %></td>
					</tr>
					<tr class="description">
						<td>Description</td>
						<td><%= render_field @classified, :description %></td>
					</tr>
					<tr class="category">
						<td>Category</td>
						<td><%= @classified.category.name %></td>
					</tr>
					<tr class="date">
						<td>Posted on</td>
						<td><%= render_date @classified.created_at %></td>
					</tr>
					<tr class="listing_type">
						<td>Listing type</td>
						<td><%= render_listing_type_label(@classified) %></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="user col-md-3 box">
		<p><%= @classified.buy? ? "Buyer" : "Seller" %></p>
		<div class="name"><%= @classified.user.name %></div>
		<div class="mobile">+91 <%= @classified.user.mobile %></div>
		<div class="college"><%= @classified.college.abbr %>, <%= @classified.college.city %></div>
		<% if user_signed_in? && current_user.owner?(@classified) %>
			<div>
				<%= link_to 'Mark as Sold', classified_path(classified: { sold: true }), method: :put, class: 'btn btn-primary mark-sold' if @classified.sell? && !@classified.sold? %>
			</div>
			<div>
				<%= link_to 'Delete', classified_path, method: :delete, class: 'btn btn-danger mark-delete' %>
			</div>
		<% end %>
		
	</div>
<% end %>