
  <div id="wrapper">
    <div id="page-wrapper" class="gray-bg">

      <header>
        <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
          <div class="collapse navbar-collapse" id="navbar-collapse-01">

            <ul class="nav navbar-nav">
              <li><a href="" style="font-size: 17px; color: white;">pajama deals</a>
              </li>
            </ul>

            <div style="display: inline-block;">
              <form class="navbar-form _navbar-left" role="search" style="width: 805px; margin-left: 6%; margin-right: 10%">
                <div class="input-group _col-sm-offset-3 _col-sm-4">
                  <input type="text" placeholder="Search by title or isbn" class="form-control" id="search-box">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-primary" style="padding: 6.5px 15px 6.5px 15px;">Search</button>
                    </span>
                  </input>                  
                </div>
              </form>
            </div>

            <ul class="nav navbar-nav navbar-right">
              <li><a href="">Sign In</a>
              </li>
              <li class="divider-vertical"></li>
              <li><a href="">Sign Up</a>
              </li>
            </ul>
          
          </div>
        </nav>
      </header>

      <div class="row wrapper">

        <div class="row col-md-12 animated fadeInRight" style="margin-left: 10px; margin-right: 10px;">

          <div class="col-md-4 item-main-info">

            <div class="ibox float-e-margins">

              <div class="ibox-title">
                <!-- <h5><%= @classified.title %></h5> -->
                <h5><%= @classified.title %></h5> <%= render_date @classified.created_at %> 
              </div>
            
              <div>
                
                <div class="ibox-content no-padding border-left-right">
                  <%= image_tag @classified.image.show, class: 'img-responsive' %>
                </div>

                <div class="ibox-content profile-content">

                  <h4><i class="fa fa-map-marker"></i> <%= @classified.college.name %></h4>

                  <div class="col-sm-12 ?bordered">
                    <!-- <h3 class="expected-price"><strong>Rs 230</strong></h3> -->
                  </div>
                  <h3 class="selling-price"><strong>Rs. <%= @classified.expected_price %>  </strong></h3>
                  <span class="list-price">Rs. <%= @classified.retail_price %></span>
                  <div class="user-button">
                    <div class="row">
                      <div class="col-md-6">
                      <%= button_to 'Pickup for me', new_pick_path(@classified), class: 'btn btn-success btn-sm btn-block', method: :get %>
<!--                         <button type="button" class="btn btn-success btn-sm btn-block"><i class="fa fa-coffee"></i>  Pickup for me</button>
 -->                      </div>
                      <div class="col-md-6">
                        <button type="button" class="btn btn-primary btn-sm btn-block">
                          <% if @classified.contact_preference == 'phone' %>
                              <i class="fa fa-phone"></i> <%= @classified.user.mobile_number %>
                          <% else %>
                              <i class="fa fa-envelope"></i> <%= @classified.user.email %>
                          <% end %>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>



            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5>Seller</h5>
              </div>
              <div>
                <div class="ibox-content no-padding border-left-right">
                  <div class="widget-head-color-box lazur-bg p-lg text-center">
                    <div class="m-b-md">
                      <h2 class="font-bold no-margins">
                        <%= @classified.user.name %>
                      </h2>
                    </div>
                    <%= image_tag @classified.user.avatar.index, class: "img-circle circle-border m-b-md", alt: "profile" %>
                    <div>
                      <span><%= pluralize @classified.user.classifieds.count, 'Item' %> listed</span> |
                      <span><%= pluralize @classified.user.classifieds.sold.count, 'Item' %> sold</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>


          <div class="col-md-8 item-related-info">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5>Details</h5>
                <div class="ibox-tools">
                  <a class="collapse-link"> <i class="fa fa-chevron-up"></i>
                  </a>
                  <a class="dropdown-toggle" data-toggle="dropdown" href="profile.html#"> <i class="fa fa-wrench"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-user">
                    <li><a href="profile.html#">Config option 1</a>
                    </li>
                    <li><a href="profile.html#">Config option 2</a>
                    </li>
                  </ul>
                  <a class="close-link"> <i class="fa fa-times"></i>
                  </a>
                </div>
              </div>
              <div class="ibox-content">
                <div>

                  <div class="feed-activity-list">

                    <div class="feed-element">

                      <div class="media-body">

                        <div class="row">

                          <div class="col-sm-6">
                            <div class="col-sm-12" style="padding-left: 0px;">
                              <span class="fe-sub-heading"><strong>Specifications</strong></span>

                              <table class="table item-table">
                                <tbody>
                                <% if @classified.publisher.present? %>
                                  <tr>
                                    <td><strong>Publisher</strong></td>
                                    <td><%= @classified.publisher %></td>
                                  </tr>
                                <% end %>
                                <% if @classified.author.present? %>
                                  <tr>
                                    <td><strong>Author</strong></td>
                                    <td><%= @classified.author %></td>
                                  </tr>
                                <% end %>
                                 <% if @classified.edition.present? %>                                                          
                                  <tr>
                                    <td><strong>Edition</strong></td>
                                    <td><%= @classified.edition %></td>
                                  </tr> 
                                <% end %>
                                <% if @classified.isbn.present? %>                                                          
                                  <tr>
                                    <td><strong>ISBN</strong></td>
                                    <td><%= @classified.isbn %></td>
                                  </tr> 
                                <% end %>
                                <% if @classified.pages.present? %>                            
                                    <tr>
                                      <td><strong>Pages</strong></td>
                                      <td><%= @classified.pages %></td>
                                    </tr>  
                                  <% end %>
                                  <% if @classified.released_year.present? %>                            
                                    <tr>
                                      <td><strong>Year</strong></td>
                                      <td><%= @classified.released_year %></td>
                                    </tr>  
                                  <% end %>  
                                  <% if @classified.condition.present? %>                            
                                    <tr>
                                      <td><strong>Condition</strong></td>
                                      <td><%= @classified.condition %></td>
                                    </tr>  
                                  <% end %>                                         
                                </tbody>
                              </table>
                            </div>                            
                          </div>
                          <% if @classified.description.present? %>
                            <div class="col-sm-6">
                              <div class="row col-sm-12">
                                <span class="fe-sub-heading"><strong> Description </strong></span>
                                <p><%= @classified.description %></p>
                              </div>                            
                            </div>
                          <% end %>
                        </div>

                      </div>
                    </div>


                    <div class="feed-element">
                      <div class="media-body ">
                        <div class="row">
                        <% if @classified.images.present? %>
                          <div class="col-sm-6">
                            <div class="col-sm-12" style="padding-left: 0px;">
                              <span class="fe-sub-heading"><strong> Photos by Seller</strong></span>                      
                              <div class="photos">
                              <% for image in @classified.images %>
                                  <%= image_tag image %>
                              <% end %>
                              </div>
                            </div>
                          </div>
                          <% end %>
                          <% if @classified.comment.present? %>
                          <div class="col-sm-6">
                            <div class="row col-sm-12">
                              <span class="fe-sub-heading"><strong> Comment </strong></span>
                              <p><%= @classified.comment %></p>
                            </div>                            
                          </div>
                        </div>
                        <% end %> 

                      </div>
                    </div>
                  
                 </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/page wrapper -->
  </div>
  <!--/wrapper -->

<!-- </body> -->

  <style type="text/css">
    .bordered {
      border: 1px solid gray;
    }
    .contact-box {
      /*max-height: 198px;*/
    }
    #page-wrapper {
      margin: 0px;
      padding: 0px;
    }
    .navbar-inverse {
      background-color: #2a3947;
      border-color: #2a3947;
    }
    #navbar-collapse-01 > ul.nav.navbar-nav.navbar-left > li > a {
      color: white;
      font-family: Lato, Helvetica, Arial, sans-serif;
      font-size: 18px;
    }
    #navbar-collapse-01 > ul.nav.navbar-nav.navbar-right > li > a {
      color: white;
    }
    .wrapper {
      padding: 0px;
    }
    .banner-top {
      /*border: 1px solid gray;*/
      margin-top: -40px !important;
      min-height: 400px;
      /*background-image: url('img/pajama/books.jpg')*/
      background-color: #29aae1;
    }
    .row.search {
      margin-top: 80px;
    }
    .search button {
      font-family: Lato, Helvetica, Arial, sans-serif;
      font-weight: bold;
    }
    .navbar {
      border-radius: 0px !important;
    }
    .navbar .divider-vertical {
      height: 20px;
      /*margin: 10px -5px 10px -5px;*/
      margin-top: 15px;
      border-right: 1px solid #ffffff;
      border-left: 1px solid #f2f2f2;
      /*color: white;*/
    }
    .navbar-inverse .divider-vertical {
      /*  border-right-color: #222222;
  border-left-color: #111111;*/
      border-right: 1px solid #ffffff;
      border-left: 1px solid #f2f2f2;
    }
    @media (max-width: 767px) {
      .navbar-collapse .nav > .divider-vertical {
        display: none;
      }
    }
  </style>

  <style type="text/css">
h3.selling-price {
  /*padding-left: 15px;*/
  /*padding-top: 5px;*/
  /*padding-right: 10px;*/
  display: inline-block;
  color: #ef5352;
}

.list-price {
  text-decoration: line-through;
}

.book-info-container {
  padding-left: 0px !important;
  margin-top: 15px;
}

.item-main-info table td {
  /*border: 1px solid gray;*/
  padding-bottom: 1px;
  font-size: 11px;
  min-width: 15px;
}

.item-related-info table.item-table tr td:nth-child(2) {
  padding-left: 130px;
}

.fe-sub-heading {
  display: block;
  margin-bottom: 10px;
  /*color: #1b7ab7;*/
}

table.other-choices a:hover {
  background-color: white;
  text-decoration: underline;
  color: #1b7ab7;
}

.widget-head-color-box {
  /*padding-top: 0px !important;*/
  /*margin-top: 0px;*/
  border-radius: 0px;
}

</style>
