<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header col-sm-3">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to App.logo, root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left ?col-sm-6" role="search" style="width: 45%; padding-left: 4px">
        <div class="form-group" style="width: 80%">
          <input type="text" class="form-control" id="search-navbar" placeholder="Search for books, projects, etc." autocomplete="off" style="width: 102%">
        </div>
        <button type="submit" class="btn btn-info search submit">Search</button>
      </form>

      <ul class="nav navbar-nav post">
        <%= link_to "Sell you stuff", new_classified_path, { class: "btn btn-success" } %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hello, <%= current_user.name && current_user.name.split.first %> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to("Sign Out", destroy_user_session_path, :method => :delete)  %></li>
            </ul>
          </li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding: 15px 15px 0px 15px !important"><i class="fa fa-sign-in fa-2x"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to "Sign In", new_user_session_path %></li>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<script>

$(document).ready(function() {

  var $search  = $("input#search-navbar");
  
  $(".form-control").attr("autocomplete", "off");

  $search.on("keypress", function(e) {
    if (e.which == 13) { 
      e.preventDefault();
      get_results();
      update_counts();
    }
  });

  $("form.navbar-form button.submit").on("click", function(e) {
    e.preventDefault();
    get_results();
    update_counts();
  });

  var get_results = function() {
    var search_term = $search.val();
    if (search_term.length > 2) {
      var params      = { query : search_term }; 
      $.get("/classifieds/", params, function(data) {
        var new_page = $("div.wrapper-content", data).html();
        window.history.pushState({}, {}, "/classifieds");
        $("div.wrapper-content").html(new_page);
        sync_page();
      });
      $search.val("");
    }
  };


  $("#sign-in-link").on('click', function(e) {
    e.preventDefault();
    $.get("/users/sign_in", function (data) {
      var $sign_in_page_partial = $( "div#sign-in", data );
      console.log(data);
      $("body").append($sign_in_page_partial);
      $("#sign-in").modal();
    });  
  });


  $("#sign-up-link").on('click', function(e) {
    e.preventDefault();
    $.get("/users/sign_up", function (data) {
      var $sign_up_page_partial = $( "div#sign-up", data );
      console.log( $sign_up_page_partial.html() );
      $("body").append($sign_up_page_partial);
      $("#sign-up").modal();
    });  
  });

  // highlighting the correct category
  var sync_page = function() {
    var current_category_id = $(".current_category").html();
    if (current_category_id == "") {
      current_category_id = 0
    } else {
      current_category_id = parseInt(current_category_id);
    }
    var selector = current_category_id;
    $selected = $("div.category a#" + current_category_id);
    $selected.parent().css("background-color", "#D1DADE");
  }


  // update counts in categories
  var update_counts = function() {
    var counts = $("div.categories-counts").html();
    counts = counts.trim().slice(1, counts.length-1).split(",");
    console.log( counts )
    $.each(counts, function(i, e) {
      var index = i + 1;
      $selected = $("div.category:eq("+ index + ")");
      $("span.count", $selected).html("(" + e.trim() + ")");
    });
  }

  sync_page();

  var li, ci;

  $("body").on("click", "h4.title", function(e) {
    e.preventDefault();
    var $result = $(this).parent().parent();
    var $siblings = $("div.result");

    $.each($siblings, function(i, el) {
      $("div.full", el).addClass("hidden");
      $("div.s-email", el).addClass("hidden");
      $("div.truncated", el).removeClass("hidden");
      $("div.s-info", el).css("min-height", "60px");
      $("div.options a", $(el).parent()).addClass("hidden");

    });

    $result.find("div.s-info").css("min-height", "75px");
    $("div.truncated", $result).addClass("hidden");
    $("div.full", $result).removeClass("hidden");
    $("div.s-email", $result).removeClass("hidden");
    $("div.options a", $result.parent()).removeClass("hidden");


    ci = $siblings.index($result);
    console.log(ci);
    console.log(li);
    li = ci;
    // return false;
  });


  $("body").on("change", ".filter-choice.colleges select", function(e) {
    var filter_college_choice = $(this).val();
    if (filter_college_choice.length > 0) {
      params = { filters : { college_id : filter_college_choice } };
    } else {
      params = { filters : { college_id : "0" } };
    }
    filter_results(params);    
  });

  $("body").on("click", "div.filter-choice .category a", function(e) {
    e.preventDefault();
    var choice_id = $(this).attr("id");
    params = { filters : { category_id : choice_id } };
    filter_results(params);
    $(this).parent().siblings().css("background-color", "white");
    $(this).parent().css("background-color", "#D1DADE");
  });


  var filter_results = function(params) {
    $.get("/classifieds/", params, function(data) {
      var results = $("div.results", data).html();
      window.history.pushState({}, {}, "/classifieds");
      $("div.results").html(results);
      update_counts();
    });
  };
  


  var expand   = "<i class='fa fa-chevron-down'></i>";
  var collapse = "<i class='fa fa-chevron-up'></i>";

  $("body").on("click", ".filters.expanded .ibox-title .collapse-link-viksit", function(e) {
    e.preventDefault();
    $(".filters .ibox-content").slideUp();
    $(this).html(expand);
    $(".filters.expanded").removeClass("expanded").addClass("collapsed");
    return false;
  });

  $("body").on("click", ".filters.collapsed .ibox-title .collapse-link-viksit", function(e) {
    e.preventDefault();
    $(".filters .ibox-content").slideDown();
    $(this).html(collapse);
    $(".filters.collapsed").removeClass("collapsed").addClass("expanded");
    return false;
  });

});

</script>

<style>
.navbar .navbar-brand {
  font-weight: 900;
  color: #999c9e;
}

#bs-example-navbar-collapse-1 > ul:nth-child(2) {
  margin-top: 8px;
}

#bs-example-navbar-collapse-1 > ul:nth-child(2) > a {
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 0px;
  margin-left: 15px;
}

#bs-example-navbar-collapse-1 > form > button {
  border-radius: 0px;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
  background-color: #323637 !important;
  color: white !important;
}

.fa.fa-2x {
  font-size: 1.5em;
}


.filters {
  padding-left: 0px !important;
}

.colleges select {
  padding-left: 3px;
  font-size: 13px;
}
.categories > .category {
  /*font-weight: 800;*/
  padding: 1px 5px 1px 5px;
  border-radius: 3px;
}

.filter-choice {
  margin-bottom: 20px;
}

h3.expected-price {
  color: #e34e4d;
  font-size: 18px;
  margin-top: 15px;
  display: inline-block;
  /*margin-left: 30px !important;*/
}

.desc {
  padding-left: 0px;
  margin-left: 0px;
  margin-top: 5px;
  padding-right: 0px;
}
span.date-posted {
  font-size: 10px;
}

.details {
  margin-top: 2px;
}

.details, .details div {
  margin-left: 0px;
  padding-left: 0px;
  /*margin-top: 5px;*/
}
span.s-name {
  display: inline-block;
  margin-bottom: 3px;
}

div.s-info {
  /*margin-top: 20px;*/
  /*margin-left: 40px !important;*/
  padding-right: 0px;
  padding-left: 35px;
  height: 60px;
  /*padding-left: 0px;*/
}

.classified-info {
  padding-left: 0px;
  margin-left: 0px;
}

div.date-posted {
  margin-left: -10px;
  margin-top: -2px;
}

h4.title > a:hover.
h4.title > a:active {
  text-decoration: none !important;
}

.date-price {
  margin-top: -7px;
  padding-right: 0px;
  margin-right: 0px;
  padding-left: 20px;
  /*margin-left: 10px;*/
}

.classified-info {
  padding-right: 0px;
}
</style>