<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
	<div class="container">
	  <div class="navbar-header">
	    <%= link_to App.logo, root_path, class: 'navbar-brand' %>
		
	  	  <% if mobile_device? %>
		  
	  		   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
	  		     <span class="sr-only">Toggle navigation</span>
	  		   </button>
	  	  <% end %>
	  </div>
	  
	  <% if mobile_device? %>
	 		<%= link_to raw('<strong>Sell things</strong>'), new_classified_path(listing_type: :sell), class: 'btn btn-danger btn-wide navbar-btn col-md-6' %>

	 		<%= link_to raw('<strong>Buy things</strong>'), new_classified_path(listing_type: :buy), class: 'btn btn-danger btn-wide navbar-btn col-md-6' %>
		
			<%= form_tag classifieds_path, class: 'navbar-form navbar-right', method: :get do %>
				<div class="form-group">
					<div class="input-group">
						<%= search_field_tag :q, '', placeholder: 'Search', class: 'form-control' %>
					    <span class="input-group-btn">
							<%= button_tag raw('<span class="fui-search"></span>'), class: 'btn' %>							
						</span>
					 </div>
			     </div>
		 	<% end %>
	 <% end %>
	  
	  <% if !mobile_device? %>
		 <div id="user-session-links" class="navbar-right">
			<%= render 'layouts/user_session_links' %>
		 </div>
	  <% end %>
	  
	  <% if mobile_device? %>
	     <div class="navbar-collapse collapse navbar-responsive-collapse secondary-nav" id="navbar-collapse-01">
			 <ul class="nav">
 				<li><%= select_tag :college, options_from_collection_for_select(College.order(name: :asc).all, :id, :name, current_college.try(:id)), prompt: 'Select College', class: "inverse-dropdown-select navbar-btn", id: 'select-college' %></li>

 				<li><%= select_tag :category, options_from_collection_for_select(Category.order(name: :asc).all, :id, :name), prompt: 'Select Category', class: 'inverse-dropdown-select navbar-btn', id: 'select-category', id: 'select-category'  %></li>
  			
				<li>
					<%= render partial: 'layouts/user_session_links' %>
				</li>
			</ul>
	 	</div>
	<% end %>
</nav><!-- /navbar -->


	       
