<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header col-sm-3">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "has stuff", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left ?col-sm-6" role="search" style="width: 50%; padding-left: 0px">
        <div class="form-group" style="width: 80%">
          <input type="text" class="form-control" id="search-navbar" placeholder="Search for books, projects, etc." autocomplete="off" style="width: 102%">
        </div>
        <button type="submit" class="btn btn-info search submit">Search</button>
      </form>

      <ul class="nav navbar-nav">
        <%= link_to( "Post Ad", new_classified_path, { class: "btn btn-success" } )%>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hello, <%= current_user.name && current_user.name.split.first %> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to("Sign Out", destroy_user_session_path, :method => :delete)  %></li>
            </ul>
          </li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-sign-in fa-6"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to "Sign In", new_user_session_path %></li>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<script>
$(document).ready(function() {

  var $search  = $("input#search-navbar");

  $search.on("keypress", function(e) {
    if (e.which == 13) { 
      e.preventDefault();
      get_results();
    }
  });

  $("form.navbar-form button.submit").on("click", function(e) {
    e.preventDefault();
    get_results();
  });

  var get_results = function() {
    var search_term = $search.val();
    if (search_term.length > 2) {
      var params      = { query : search_term }; 
      $.get("/classifieds/", params, function(data) {
        var new_page = $("div.wrapper-content", data).html();
        window.history.pushState({}, {}, "/classifieds");
        $("div.wrapper-content").html(new_page);
        sync_page();

      });
      $search.val("");
    }
  };


  $("#sign-in-link").on('click', function(e) {
    e.preventDefault();
    $.get("/users/sign_in", function (data) {
      var $sign_in_page_partial = $( "div#sign-in", data );
      console.log(data);
      $("body").append($sign_in_page_partial);
      $("#sign-in").modal();
    });  
  });


  $("#sign-up-link").on('click', function(e) {
    e.preventDefault();
    $.get("/users/sign_up", function (data) {
      var $sign_up_page_partial = $( "div#sign-up", data );
      console.log( $sign_up_page_partial.html() );
      $("body").append($sign_up_page_partial);
      $("#sign-up").modal();
    });  
  });

  var sync_page = function() {
    console.log("syncingpage")
    var current_category_id = $(".current_category").html();
    if (current_category_id == "") {
      current_category_id = 0
    } else {
      current_category_id = parseInt(current_category_id);
    }
    var selector = current_category_id;
    $selected = $("div.category:eq("+ selector +")");
    $selected.css("background-color", "#D1DADE");
    console.log($selected)

  }

  sync_page();
});
</script>

<style>
.navbar .navbar-brand {
  font-weight: 900;
}

#bs-example-navbar-collapse-1 > ul:nth-child(2) {
  margin-top: 8px;
}

#bs-example-navbar-collapse-1 > ul:nth-child(2) > a {
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 0px;
}

#bs-example-navbar-collapse-1 > form > button {
  border-radius: 0px;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
  background-color: #323637 !important;
  color: white !important;
}
</style>