<div class="col-sm-8 results">
  <% for classified in @classifieds %>
  <div class="row col-sm-12 contact-box result">

    <div class="col-sm-2">
      <%= link_to (image_tag classified.image.index, class: 'img-circle m-t-xs img-responsive classified-img'), classified_path(classified) %>
    </div>

    <div class="col-sm-10 row ?pull-right classified-info">
      <h4 class="title"><%= link_to classified.title, classified_path(classified) %></h4>  <%= (', ' + classified.edition + ' edition') if classified.edition.present? %>  
      <span class="pull-right"><%= render_date classified.created_at %></span>
      <br/>
      <span class="authors"><em><%= classified.author.present? ? classified.author : '-' %></em></span>

      <div class="row prices">
        <h3 class="expected-price"><strong>Rs <%= classified.expected_price %></strong></h3>
        <h5 class="retail-price">(MRP: Rs <%= classified.retail_price %>)</h5><br/>
      </div>

      <div class="row info-tables">
        <div class="col-sm-4">
          <table class="table-left">
            <tr>
              <td><strong>Publisher:</strong></td>
              <td></td>
              <td><%= classified.publisher.present? ? classified.publisher : '-' %></td>
            </tr>
            <tr>
              <td><strong>Pattern:</strong></td>
              <td></td>
              <td><%= classified.released_year.present? ? classified.released_year : '-' %></td>
            </tr>
            <tr>
              <td><strong>Condition</strong></td>
              <td></td>
              <td><%= classified.condition.capitalize %></td>
            </tr>                                                           
          </table>
        </div>
        <div class="col-sm-4 col-sm-offset-2">
          <table class="table-right">
            <tr>
              <td><strong>Seller:</strong></td>
              <td></td>
              <td><%= classified.user.name %></td>
            </tr>
            <tr>
              <td><strong>Contact:</strong></td>
              <td></td>
              <td><%= classified.user.try(:mobile_number) || classified.user.try(:email) %></td>
            </tr>
            <tr>
              <td><strong>College:</strong></td>
              <td></td>
              <td><%= classified.college.abbr %></td>
            </tr>                                        
          </table>                
        </div>
      </div>
    </div>
  </div>


  <% end %>

  <%= will_paginate @classifieds %>

</div> <!--results-->