<!DOCTYPE html>
<html>
<head>
  <title><%= 'has stuff' + " : #{@title}" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="?boxed-layout">
  <div id="wrapper page-container">
    <div id="page-wrapper" class="gray-bg">
      <div class="gapper" ?style="min-height: 70px;"></div>
      <%= render partial: "layouts/header" %>
      <%= render partial: "shared/flash_messages", flash: flash %> 
      
      <%= yield %>

    </div>
  </div>
  <% if Rails.env.production? %>
    <%= render 'layouts/google_analytics' %>
  <% end %>
</body>

</html>

<style type="text/css">
body.boxed-layout {
  /*background: url('assets/shattered.png');*/
  background-color: lightgray;
}
html {
overflow: -moz-scrollbars-vertical; 
overflow-y: scroll;
}
</style>