<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Pajamadeals" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>

    <%= render partial: 'layouts/header' %>

    <div class="container">
		<nav class="navbar navbar-default navbar-embossed" role="navigation">
		    <div class="navbar-collapse collapse navbar-responsive-collapse nav2">
				<ul class="nav navbar-nav navbar-left">
				    <li>
						<%= select_tag :college, options_from_collection_for_select(College.order(name: :asc).all, :id, :name), prompt: 'Select College', class: 'nav-dropdown' %>
					</li>
				    <li>
						<%= select_tag :category, options_from_collection_for_select(Category.order(name: :asc).all, :id, :name), prompt: 'Select Category', class: 'nav-dropdown' %>
					</li>
				</ul>
				<%= form_tag classifieds_path, class: 'navbar-form navbar-left' do %>
					<div class="form-group">
						<div class="input-group">
							<%= search_field_tag :q, '', placeholder: 'Search', class: 'form-control' %>
							<span class="input-group-btn">
								<%= button_tag raw('<span class="fui-search"></span>'), class: 'btn' %>							
							</span>
						</div>
					</div>
				<% end %>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<%= link_to 'Sell things', new_classified_path(listing_type: :sell), class: 'btn btn-default btn-embossed navbar-btn' %>
					</li>
					<li>
						<%= link_to 'Buy things', new_classified_path(listing_type: :buy), class: 'btn btn-default btn-embossed navbar-btn' %>
					</li>
				</ul>
			</div>
		</nav>
		
          <%= bootstrap_flash %>
          <%= yield %>
    </div> <!-- /container -->
 	<div class="modal fade" id="user-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
  </body>
</html>
