<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Pajama Deals<%= " : #{@title}" if @title.present? %></title>
      <%= csrf_meta_tags %>
	  
	  <%= stylesheet_link_tag "application", media: "all" %>
	  <%= javascript_include_tag "application" %>
	  
		<% if Rails.env.production? %>
			<% if current_user %>
				<% if !current_user.admin? %>
				    <%= render 'layouts/heap_analytics' %>
					<%= render 'layouts/mixpanel_analytics' %>
				<% end %>
			<% else %>
			    <%= render 'layouts/heap_analytics' %>
				<%= render 'layouts/mixpanel_analytics' %>
			<% end %>
		<% end %>
  </head>
  <body>
	  <div class="container mobile">
	  	<%= yield %>
	  </div>
  </body>
</html>